<!-- modal 24/04 -->
<div class="modal modales-m">
    <md-dialog flex="auto">
        <div class="mensajeTitulo--container">
            <i class="material-icons statusAlerta__small">error</i>
            <h2 class="mensajeTitulo__alerta">Aún te faltan datos por completar</h2>
            <p class="mensajeTexto__large">¿deseas guardar la información y continuar más tarde</p>
            <div class="contenedor--botones" ng-controller="modalesCrtl">
                <md-button ng-click="answer('useful')" class="boton2 md-raised">Volver</md-button>
                <md-button ng-click="answer('useful')" class="boton1 md-raised">Aceptar</md-button>
            </div>
        </div>
    </md-dialog>
</div>
