<section>
  <div class="contenido--background servicios-empresa"></div>
  <div class="ban-container">
    <div class="card h--marginTopcard h--borderRadiusTop4px">
      <div class="ban-row">
        <div class="ban-col-xs-12 ban-col-sm-12 ban-col-md-5">
          <h1 class="titulo--operacion">Transferencia Internacional</h1>
          <div class="border--titulo">
            <hr>
          </div>
        </div>
        <div class="ban-col-xs-12 ban-col-sm-12 ban-col-md-7">
          <div id="select-cuenta" ng-include src=" 'select-cuenta/personas/card-cuenta-fav.html' "></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="ban-container" ng-controller="solicFondoM">
    <div class="card h--borderRadiusBottom4px">
      <!-- inicio tituloCaracteristicas -->
      <div class="contenedor--subtitulo a_fadeup1">
        <h3 class="subtitulo">
          <span class="subtitulo__icono--verde">
            <md-icon><i class="material-icons">check</i></md-icon>
          </span> Características de la transferencia
        </h3>
      </div>
      <!-- fin tituloCaracteristicas -->
      <!-- Inicio seccionCaracteristicas -->
      <div class="ban-row h--marginTop1 a_fadein">
        <div class="ban-col-sm-12 ban-col-md-6 ">
          <div class="operacion--seleccion">
            <div class="ban-row">
              <div class="ban-col-xs-12 ban-col-sm-12 ban-col-md-6">
                <p class="seleccion__label">Moneda</p>
                <p class="seleccion__fondo">USD</p>
              </div>
              <div class="ban-col-xs-12 ban-col-sm-4 ban-col-md-6 ">
                <p class="seleccion__montos">Monto a transferir</p>
                <p class="seleccion__cifra ">U$500</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- fin caracteristica trasferencia-->
      <!-- inicio seccionDestino -->
      <div class="contenedor--subtitulo subtitulos__usuarios a_fadeup1">
        <h3 class="subtitulo">
          <span class="subtitulo__icono--amarillo">
            <md-icon><i class="material-icons">arrow_downward</i></md-icon>
          </span> Destino de la transferencia</h3>
      </div>
      <div class="ban-row a_fadein">
        <div class="ban-col-xs-12 ban-col-sm-6 ban-col-md-3">
          <md-input-container class="input--dropdowns">
            <label>A mi beneficiario</label>
            <md-select name="beneficiario" ng-model="banchilepay.beneficiario">
              <md-option value="1">Beneficiario 1</md-option>
              <md-option value="2">Beneficiario 2</md-option>
              <md-option value="3">Beneficiario 3</md-option>
            </md-select>
            <div class="input--hint_select">Previamente registrado</div>
            <div ng-messages="banchilepayForm.BancoCuenta.$error">
              <div ng-message="required">Este campo es obligatorio.</div>
            </div>
          </md-input-container>
        </div>
        <div class="ban-col-xs-12 ban-col-sm-6 ban-col-md-3">
          <md-input-container class="input--dropdowns">
            <label>En el Banco y Cuenta</label>
            <md-select required name="BancoCuenta" ng-model="banchilepay.BancoCuenta">
              <md-option value="1">Banco/cuenta 0001</md-option>
              <md-option value="2">Banco/cuenta 0002</md-option>
              <md-option value="3">Banco/cuenta 0003</md-option>
            </md-select>
            <div class="input--hint_select">Definidos en el registro de beneficiarios</div>
            <div ng-messages="banchilepayForm.BancoCuenta.$error">
              <div ng-message="required">Este campo es obligatorio.</div>
            </div>
          </md-input-container>
        </div>
        <div class="ban-col-xs-12 ban-col-sm-6 ban-col-md-3">
          <md-input-container class="input--dropdowns">
            <label>Por Concepto de pago</label>
            <md-select name="ConceptoPago" ng-model="banchilepay.ConceptoPago">
              <md-option value="1">0001 Concepto de Pago</md-option>
              <md-option value="2">0002 Concepto de Pago</md-option>
              <md-option value="3">0003 Concepto de Pago</md-option>
            </md-select>
            <div class="input--hint_select">Asociado a código de Banco Central</div>
          </md-input-container>
        </div>
      </div>
      <!-- fin seccionDestino -->
      <!-- inicio seccionObservaciones -->
      <div class="ban-row a_fadein">
        <div class="ban-col-md-9  h--paddingTop2">
          <md-input-container class="input--dropdowns">
            <label>Observaciones</label>
            <textarea rows="1" md-select-on-focus="" placeholder="Ingresa tus observaciones "></textarea>
          </md-input-container>
        </div>
      </div>
      <!-- fin seccionObservaciones -->
      <div class="ban-col-md-3 ban-col-md-offset-9">
        <div class="h--paddingBottom2">
          <div class="claveSeguridad--buton h--alignRight" ng-controller="modalesCrtl">
            <md-button ng-click="showTransferenciacompleta($event)" class="boton1 confirmacion--boton md-raised">Transferir</md-button>
          </div>
        </div>
      </div>
    </div>
    <!-- boton volver -->
    <div class="ban-row">
      <div class="ban-col-xs-3 ban-col-sm-2 ban-col-md-2">
        <div class="boton--back" >
          <md-button ng-href="#transferencias-privado-persona">
            <i class="material-icons">arrow_back</i>
            <span>Volver</span>
          </md-button>
        </div>
      </div>
    </div>
    <!-- fin boton volver -->
  </div>
</section>
<!-- fin seccionObservaciones -->
