<section>
  <div class="contenido--background invertir-empresa"></div>
  <div class="ban-container">
    <div class="card h--marginTopcard h--borderRadiusTop4px">
      <div class="ban-row">
        <div class="ban-col-xs-12 ban-col-sm-6 ban-col-md-5 ban-col-lg-4">
          <h1 class="titulo--operacion">Fondos Mutuos </h1>
          <div class="border--titulo">
            <hr>
          </div>
        </div>
        <div class="ban-col-xs-12 ban-col-sm-6 ban-col-md-7 ban-col-lg-8">
          <div id="select-cuenta" ng-controller="BuscaListadoCtrl" ng-include src=" 'select-cuenta/empresas/card-cuenta-fav.html' "></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="ban-container">
    <div class="card h--marginBottomcard comprobante-inputContainer">
      <div class="ban-col-md-12" ng-controller="EditarUsuarioCtrl">
        <div class="info--comprobante">
          <div class="ban-row">
            <div class="ban-col-sm-9">
              <h2 class="comprobante--tipo animated fadeInDown">COMPROBANTE DE SOLICITUD DE RESCATE A FONDO MUTUO</h2>
            </div>
            <div class="ban-col-sm-3">
              <div class="logo--comprobante">
                <img alt="banchile" src="assets/images/Logo-02.png">
              </div>
            </div>
          </div>
        </div>
        <div class="ban-row animated fadeInDown">
          <div class="ban-col-xs-12">
            <div class="contenedor--subtitulo">
              <h3 class="subtitulo animated fadeInDown">Datos del cliente</h3>
            </div>
          </div>
          <div class="ban-col-xs-12 ban-col-sm-7 ban-col-md-3">
            <md-input-container class="input--dropdowns">
              <label>Nombre del cliente</label>
              <input disabled ng-model="usuario.nombre">
            </md-input-container>
          </div>
          <div class="ban-col-xs-12 ban-col-sm-7 ban-col-md-3">
            <md-input-container class="input--dropdowns">
              <label>Rut</label>
              <input disabled ng-model="usuario.rut">
            </md-input-container>
          </div>
        </div>
        <div class="ban-row animated fadeInDown">
          <div class="ban-col-xs-12">
            <div class="contenedor--subtitulo">
              <h3 class="subtitulo animated fadeInDown">Datos de rescate a Fondo Mutuo</h3>
            </div>
          </div>
          <div class="ban-col-xs-12 ban-col-sm-7 ban-col-md-3">
            <md-input-container class="input--dropdowns">
              <label>Fondo</label>
              <input disabled ng-model="usuario.fondo">
            </md-input-container>
          </div>
          <div class="ban-col-xs-12 ban-col-sm-7 ban-col-md-3">
            <md-input-container class="input--dropdowns">
              <label>Destino</label>
              <input disabled ng-model="usuario.origen">
            </md-input-container>
          </div>
          <div class="ban-col-xs-12 ban-col-sm-7 ban-col-md-3">
            <md-input-container class="input--dropdowns">
              <label>Fecha de solicitud</label>
              <input disabled ng-model="usuario.fechaSolicitud">
            </md-input-container>
          </div>
          <div class="ban-col-xs-12 ban-col-sm-7 ban-col-md-3">
            <md-input-container class="input--dropdowns">
              <label>Fecha de pago</label>
              <input disabled ng-model="usuario.fechaCobro">
            </md-input-container>
          </div>
          <div class="ban-col-xs-12 ban-col-sm-7 ban-col-md-3">
            <md-input-container class="input--dropdowns">
              <label>Cuenta del Fondo</label>
              <input disabled ng-model="usuario.cuentadelFondo">
            </md-input-container>
          </div>
          <div class="ban-col-xs-12 ban-col-sm-7 ban-col-md-3">
            <md-input-container class="input--dropdowns">
              <label>Beneficio tributario</label>
              <input disabled ng-model="usuario.beneficiotributario">
            </md-input-container>
          </div>
          <div class="ban-col-xs-12 ban-col-sm-7 ban-col-md-3">
            <md-input-container class="input--dropdowns">
              <label>Remuneración</label>
              <input disabled ng-model="usuario.remuneracion">
            </md-input-container>
          </div>
          <div class="ban-col-xs-12 ban-col-sm-7 ban-col-md-3">
            <md-input-container class="input--dropdowns">
              <label>Plan</label>
              <input disabled ng-model="usuario.plan">
            </md-input-container>
          </div>
          <div class="ban-col-xs-12 ban-col-sm-7 ban-col-md-3">
            <md-input-container class="input--dropdowns">
              <label>Numero de cuotas</label>
              <input disabled ng-model="usuario.numerocuotas">
            </md-input-container>
          </div>
          <div class="ban-col-xs-12 ban-col-sm-7 ban-col-md-3">
            <md-input-container class="input--dropdowns">
              <label>Valor cuota</label>
              <input disabled ng-model="usuario.valorcuota">
            </md-input-container>
          </div>
          <div class="ban-col-xs-12 ban-col-sm-7 ban-col-md-3">
            <md-input-container class="input--dropdowns">
              <label>Nº orden</label>
              <input disabled ng-model="usuario.noperacion">
            </md-input-container>
          </div>
        </div>
        <div class="ban-row h--borderTop">
          <div class="ban-col-sm-2">
            <div class="timbre--comprobante">
              <img alt="banchile" src="assets/images/timbre.jpg">
            </div>
          </div>
          <div class="ban-col-xs-10">
            <div class="ban-row">
              <div class="ban-col-sm-6 ban-col-sm-push-6 ban-col-md-6 ban-col-md-push-6">
                <div class="contendidoMonto">
                  <p class="contendidoMonto--monto">Monto</p>
                  <p class="contendidoMonto--comprobante">$460.000</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ban-row">
        <div class="ban-col-xs-12 ban-col-sm-4 ban-col-md-3 ban-col-md-offset-9 ban-col-sm-offset-8 h--alignRight h--marginTop1">
          <md-button href="#fondos-mutuos" class="md-raised boton2 h--width100 md-ink-ripple">Volver al inicio</md-button>
        </div>
      </div>
    </div>
  </div>
</section>
