<div class="ban-col-sm-6 ban-col-md-3 h--marginTop1">
  <md-input-container class="input--dropdowns">
    <label>Región</label>
    <md-select name="beneficiario" ng-model="banchilepay.beneficiario">
      <md-option value="1">Región 001</md-option>
      <md-option value="2">Región 002</md-option>
      <md-option value="3">Región 003</md-option>
    </md-select>
    <div ng-messages="banchilepayForm.BancoCuenta.$error">
      <div ng-message="required">Este campo es obligatorio.</div>
    </div>
  </md-input-container>
</div>
<div class="ban-col-sm-6 ban-col-md-3 h--marginTop1">
  <md-input-container class="input--dropdowns">
    <label>Comuna</label>
    <md-select name="beneficiario" ng-model="banchilepay.beneficiario">
      <md-option value="1">Ñuñoa</md-option>
      <md-option value="2">Providencia</md-option>
      <md-option value="3">Las Condes</md-option>
      <md-option value="4">La Reina</md-option>
      <md-option value="5">Santiago</md-option>
    </md-select>
    <div ng-messages="banchilepayForm.BancoCuenta.$error">
      <div ng-message="required">Este campo es obligatorio.</div>
    </div>
  </md-input-container>
</div>
<div class="ban-col-sm-6 ban-col-md-3 h--marginTop1">
  <md-input-container class="input--dropdowns">
    <label>Oficina</label>
    <md-select name="beneficiario" ng-model="banchilepay.beneficiario">
      <md-option value="1">Casa Matriz</md-option>
      <md-option value="2">Huerfanos 670</md-option>
      <md-option value="3">Huerfanos 200</md-option>
    </md-select>
    <div ng-messages="banchilepayForm.BancoCuenta.$error">
      <div ng-message="required">Este campo es obligatorio.</div>
    </div>
  </md-input-container>
</div>
