<tr class="animacionApertura" ng-repeat-end="" aria-label="Toggle ngHide">
  <div class="contenidoDesplegable--info info__detalle">
    <div class="ban-row">
      <div class="ban-col-sm-6 ban-col-md-9">
        <h3 class="detalle--titulo">Rescate a Cartera Activa</h3>
        <h4 class="detalle--subtitulo">Cartera Agresiva
          <span>Fecha de Solicitud 22 de Julio 2017.11:30 GMT-4</span>
        </h4>
      </div>
      <div class="ban-col-sm-6 ban-col-md-3 h--alignRight">
        <div class="info--operacion">
          Nº de orden
          <span class="operacion--numero">213456789</span>
        </div>
      </div>
    </div>
    <div class="ban-row ban--paddingTop">
      <div class="ban-col-xs-6 ban-col-sm-6 ban-col-md-3">
        <div class="contenido--datos">
          <h4>Medio de pago</h4>
          <p>Caja Internet</p>
        </div>
      </div>
      <div class="ban-col-xs-6 ban-col-sm-6 ban-col-md-3">
        <div class="contenido--datos">
          <h4>Cuenta</h4>
          <p>14-22233-334</p>
        </div>
      </div>
      <div class="ban-col-xs-6 ban-col-sm-6 ban-col-md-3">
        <div class="contenido--datos">
          <h4>Fecha de cobro</h4>
          <p>23/07/2017</p>
        </div>
      </div>
      <div class="ban-col-xs-6 ban-col-sm-6 ban-col-md-3">
        <div class="contenido--datos">
          <h4>Número de cuotas</h4>
          <p>12,0022</p>
        </div>
      </div>
      <div class="ban-col-xs-6 ban-col-sm-6 ban-col-md-3">
        <div class="contenido--datos">
          <h4>Valor cuota</h4>
          <p>313,0022</p>
        </div>
      </div>
    </div>
    <div class="ban-row h--borderTop" ng-controller="instruccionesVentanaCtrl">
      <div class="ban-col-sm-12 ban-col-md-6 ban-col-md-push-6">
        <div class="contendidoMonto">
          <p class="contendidoMonto--texto">Monto</p>
          <p class="contendidoMonto--valor">CLP $460.000,00</p>
        </div>
      </div>
      <div class="ban-col-md-3 ban-col-md-pull-6">
        <div ng-click="verMejoresofertas($event)">
          <md-button ng-click="verMejoresofertas($event)" class="boton2 md-raised">
            Ver detalle
            <md-tooltip md-direction="bottom">Ver composición de la cartera</md-tooltip>
          </md-button>
        </div>
      </div>
      <div class="ban-row">
        <div class="ban-col-xs-12">
          <div class="bitacora" ng-show="mejoresofertas" ng-cloak>
            <div class="ban-row">
              <div class="ban-col-md-12">
                <div class="bitacora--header">
                  <h3 class="bitacora--header--titulo border-bottom">
                    <i class="material-icons titulo--icono">info</i>Composición de la cartera</h3>
                  </h3>
                </div>
                <div class="bitacora--contenido">
                  <p class="bitacora--contenido--texto">Fondo Mutuo Estrategia Agresiva | Fondo Mutuo Inversion Dollar 30 | Fondo Mutuo Multiactivo Conservador
                    |Fondo Mutuo Multiactivo Moderado</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</tr>
