
<div class="ban-col-xs-12">
  <div class="contenedor--formulario" ng-controller="solicFondoM">
    <div ng-repeat-start="aporte02 in solicfm | orderBy : sort">
      <div class="ban-row">
        <div class="ban-col-xs-12 ban-col-sm-6 ban-col-md-6">
          <div class="producto--seleccionado">
            <div class="ban-col-xs-1 ban-col-sm-1 ban-col-md-1">
              <div class="button--detalleaporte">
                <md-button class="md-icon-button test" ng-if="aporte02.expanded" ng-click="aporte02.expanded = false">
                 <md-icon><i class="material-icons">&#xE316;</i> </md-icon>
               </md-button>
                <md-button class="md-icon-button test" ng-if="!aporte02.expanded" ng-click="aporte02.expanded = true">
                  <md-icon><i class="material-icons">&#xE313;</i> </md-icon>
                </md-button>
              </div>
            </div>
            <div class="ban-col-xs-10 ban-col-sm-5 ban-col-md-5">
              <p class="md-caption producto--seleccionado__label">Fondo Mutuo Seleccionado</p>
              <p class="md-subhead producto--fondo">Capital Efectivo Serie A</p>
            </div>
            <div class="ban-col-xs-12 ban-col-sm-5 ban-col-md-6 h--alignCenter">
              <md-button ng-click="toggleRight()" ng-hide="isOpenRight()" class="boton2 md-raised primario">
                Cambiar
              </md-button>
            </div>
          </div>
        </div>

        <div class="ban-col-sm-6 ban-col-md-3 h--marginmovilTop1">
          <div class="producto--seleccionado">
            <div class="ban-col-xs-12 ">
              <p class="seleccionado__label">Saldo disponible</p>
              <p class="seleccionado__monto">US$<span class="h--pullRight">2.000.000</span></p>
            </div>
          </div>
        </div>
        <div class="ban-col-sm-6 ban-col-md-3 h--marginmovilTop1">
          <div class="producto--seleccionado">
            <div class="ban-col-xs-12 ">
              <p class="seleccionado__label">Monto minimo</p>
              <p class="seleccionado__monto">US$<span class="h--pullRight">100</span></p>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="animacion--tabla" ng-repeat-end="" aria-label="Toggle ngHide">
      <div ng-hide="!aporte02.expanded">
        <div ng-include src="'detalle/detalle-cuenta-fm.html'"></div>
      </div>
    </div>
    <div class="ban-row h--marginTop1">
      <div class="ban-col-xs-12 ban-col-sm-3 ban-col-md-3">
        <!-- <md-checkbox ng-model="data2" aria-label="Checkbox 1">
          <p class="moneda-info">
            18 Quater
            <span class="info--right">
              <md-icon class="informacionTooltip"><i class="material-icons">&#xE88E;</i></md-icon>
              <md-tooltip class="plan--tooltip" md-direction="bottom"> La Ley de Impuesto a la Renta (LIR), establece un beneficio tributario que consiste en no considerar rescate la liquidación de cuotas de fondos mutuos que se reinviertan en otro fondo mutuo, cumpliendo los requisitos y condiciones establecidos en la ley. De lo contrario, el mayor valor obtenido por el rescate de cuotas de fondos mutuos se considerará renta, quedando gravado con los impuestos de primera categoría, adicional o Global Complementario, según corresponda.</md-tooltip>
            </span>
          </p>
        </md-checkbox> -->
        <md-checkbox ng-model="data1" aria-label="Checkbox 1">
          <p class="moneda-info">
            Plan Familia de Fondos
            <md-icon class="informacionTooltipR"><i class="material-icons">&#xE88E;</i></md-icon>
            <md-tooltip class="plan--tooltip" md-direction="bottom"> Permite trasladar, exento de comisión, las inversiones entre los distintos Fondos Mutuos </md-tooltip>
          </p>
        </md-checkbox>
      </div>

    </div>
  </div>
</div>
