<div class="cardSeleccion" ng-controller="SelectCtrl">
  <div class="ban-row">
    <div class="ban-col-xs-12 ban-col-sm-12 ban-col-md-12 h--alignRight h--smAlignCenter">
      <div class="boton--select">
        <md-button href="" ng-click="texto($event)" class="md-icon-button" aria-label="Buscar">
          <md-icon>
            <i class="material-icons icons--color">&#xE8B6;</i>
          </md-icon>
          <md-tooltip md-direction="Bottom">Buscar</md-tooltip>
        </md-button>
      </div>
      <div class="boton--select">
        <md-button href="" ng-click="" class="md-icon-button" aria-label="Favoritos">
          <md-icon>
            <i class="material-icons icons--color">star_border</i>
          </md-icon>
          <md-tooltip md-direction="Bottom">Favoritos</md-tooltip>
        </md-button>
      </div>
    </div>
  </div>
</div>
