// .sass css home

.titulo-linea {
  width: 100px;
  border: 0;
  height: 4px;
  background-color: #FFC80A;
  display: block;
  margin: 5px auto 50px;
}

.homePresentacion {
  height: auto;
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 450px;

  .homePresentacion--contenedor {
    text-align: left;
    z-index: 190;
    position: absolute;
    top: 15%;

    .titulo {
      color: #fff;
      text-align: left;
      @include font-36;
      @include roboto-normal;
      border: none;
    }

    .subtitulo {
      color: #fff;
      text-align: left;
      @include roboto-light;
      @include font-36;
      line-height: 1.2;
    }
  }

  .video--home {
    background: #535557;
    position: relative;
    overflow: hidden;
    bottom: 268px;
    padding-top: 115px;
    video {
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      opacity: 0.5;
      transition: 1s opacity;
    }
  }

  .caja--slider {
    background: #eee;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  #sliderhomeContenedor {
    position: relative;
    top: 20%;
    margin-top: 1em;

    .swiper-container-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
      bottom: 0 !important;
      left: 0 !important;
      width: 100%;
    }

    .sliderHome {
      width: 370px;
      position: absolute;
      right: 0;
      z-index: 200;

      .ban-swiper-container {
        border-radius: 4px;
      }

      .swiper-slide {
        .contenedorSliderHome {
          background-color: #536374;

          img {
            width: 100%;
            opacity: 0.5;
          }

          .contenedorSliderHome--mensaje {
            position: absolute;
            background-color: #535557;
            opacity: 0.9;
            height: auto;
            min-height: 90px;
            width: 100%;
            bottom: 0;

            h4 {
              @include font-18;
              padding: 12px 15px 5px;
              color: #fff;

              i {
                float: right;
                top: -4px;
                position: relative;
                color: #fff;
              }
            }

            p {
              padding: 9px 15px;
              line-height: 1.2em;
              color: #fff;
              @include font-14;
            }
          }
        }
      }

      .pagination {
        position: relative;
        top: 12px;
        left: 50%;
        height: 0;

        .swiper-pagination-bullet {
          &:nth-of-type(odd) {
            margin-right: 5px;
          }

          &:nth-of-type(even) {
            margin-right: 5px;
          }
        }

        .swiper-pagination-bullet-active {
          background: #fff !important;
        }
      }
    }
  }
}

.homeIndicadores {
  background-color: #fff;
  border-top: 1px solid #CCD1D9;
  border-bottom: 1px solid #CCD1D9;

  .sliderIndicadoresHome {
    .swiper-container {
      width: 100%;
      height: auto;
      margin: auto;
    }
    .swiper-slide {
      padding: 0.4em;
      text-align: center;
      font-size: 18px;
      width: auto;
      min-width: 60px;
      margin-right: 0px !important;
      .contenedorIndicador {
        width: 100%;
        padding: 0 0.3em 0 0;
        border-right: 1px dotted #CCD1D9;
        text-align: left;
        align-items: center;
        @include font-16;
        .indicadorNombre {
          width: 100%;
          @include font-14;
          color: #536374;
          @include roboto-bold;
          padding-bottom: 3px;
        }
        .indicadorEstructura {
          height: 30px;
          .indicadorDatos {
            text-align: left;
            display: inline-block;
            vertical-align: middle;
            padding-right: 0.3em;
            @include font-12;
            .indicadorPrecio {
              margin-bottom: 0.2em;
            }
            .indicadorVariacion {
              font-weight: 700;
            }
          }
          .indicadorGrafico {
            display: inline-block;
            vertical-align: middle;
            overflow: hidden;
            img {
              max-width: 100%;
              height: 30px;
            }
          }
        }
        .datos {
          p {
            padding: 2px 0;
          }
        }

        .porcentaje {
          margin: auto auto 25px;
        }
      }
    }
  }
}

.homeProductos {
  .slide-up {
    position: relative;

    .linkProductos {
      position: absolute;
      width: 100%;
      height: 100%;
      content: '';
      z-index: 3;
      top: 0;
      left: 0;
    }
  }
  padding: 30px 0;

  .titulo {
    text-align: center;
    font-size: 2rem !important;
    @include roboto-light;
    border: none;
  }

  &.color--fondo {
    background-color: #F0F2F5 !important;
  }

  .producto--fondo {
    background-image: url("../images/home-ffmm.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }

  .producto--acciones {
    background-image: url("../images/home-acciones.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }

  .producto--mx {
    background-image: url("../images/home-mx.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }

  .producto--rentafija {
    background-image: url("../images/home-rf.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }

  .producto--mercado {
    background-image: url("../images/home-mercado.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }

  .producto--derivados {
    background-image: url("../images/home-derivados.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }

  .producto--apv {
    background-image: url("../images/home-apv.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }

  .producto--banchilepay {
    background-image: url("../images/home-banchilepay.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }

  .producto--ca {
    background-image: url("../images/home-ca.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }

  .producto--fondoinversion {
    background-image: url("../images/home-fondoinversion.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }

  .productos--bloque {
    display: block;
    width: 100%;
    height: 200px;
    overflow: hidden;
    text-align: center;
    position: relative;
    margin: 0 auto 30px;
    border-radius: 4px;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

    .producto--filtro {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.3);
    }

    .productos--titulos {
      color: #fff;
      line-height: 1.25em !important;
      @include font-20;
      @include roboto-normal;
      margin-bottom: 10px;
      opacity: 0.95;
    }

    .productos--icono {
      margin: 30px auto;
      color: #fff;
      text-align: center;
      position: relative;
      padding: 11px;
      line-height: 0;
      opacity: 0.95;

      i {
        font-size: 38px;
      }

      md-icon {
        color: #fff;
        text-align: center;
        line-height: 0;
        font-size: 22px;
        position: relative;
        right: 3.2px;
      }
    }

    .producto--overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }

  .slide-up .producto--overlay {
    background-color: #535557;
    opacity: 0.95;
    transform: translateY(100%);
    -webkit-transition: transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    -ms-flex-align: center;

    .productos--parrafo {
      margin: 15px;
      color: #fff;
      line-height: 20px;
      font-size: 16px !important;
      font-family: 'robotolight';
    }

    .botones-caja {
      .boton--rescatar {
        float: none !important;
      }

      .md-primary {
        color: #336A9B !important;
        min-height: 37px;
        min-width: 180px;
      }
    }
  }

  .slide-up .productos--bloque:hover .producto--overlay {
    transform: translateY(0);
  }

  .productos--bloque:hover {
    box-shadow: 0 2px 2px rgba(156, 156, 156, .30), 0 4px 4px rgba(156, 156, 156, 0.30), 0 8px 8px rgba(156, 156, 156, 0.30), 0 16px 16px rgba(156, 156, 156, 0.4);
  }
}

.homeInvierte {
  background-image: url('../images/home-bg-section-a.jpg');
  background-size: 120%;
  background-position: right;
  background-color: $color-secundario-blanco;
  height: auto;
  padding: 60px 0;
  overflow: hidden;

  .titulo {
    text-align: center;
    font-size: 2rem !important;
    @include roboto-light;
    border: none;

    span {
      @include roboto-normal;
      margin-left: 4px;
    }
  }

  .invierte--bloque {
    margin: 0;
    position: relative;

    .invierte--parrafo {
      line-height: 1.25em !important;
      margin-bottom: 2em !important;
      @include font-16;
      max-width: 361px;
    }

    .invierte--app {
      margin-top: 7em;
      text-align: left;

      img {
        width: 140px;
        height: auto;
      }
    }
  }
}

.homeLideres {
  background: #f0f2f5;
  height: auto;
  padding: 60px 0;

  .titulo {
    text-align: center;
    font-size: 2rem !important;
    @include roboto-light;
    border: none;

    span {
      @include roboto-normal;
      margin-left: 4px;
    }
  }

  .lideres--bloque {
    color: $color-primario;
    margin: 0;
    position: relative;

    .lideres--parrafo {
      color: $color-primario;
      line-height: 1.25em !important;
      margin-bottom: 1em !important;
      text-align: center;
      @include font-16;
    }

    .lideres--imagen {
      width: 700px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 40px;
    }

    .premiosReconocimientos {
      display: flex;
      display: -ms-flexbox;
      align-items: center;
      -ms-flex-align: center;
      justify-content: center;
      -ms-flex-pack: center;
      margin-top: 50px;
    }
  }
}

.homeInformate {
  height: auto;
  padding: 60px 0 80px;
  background-image: url('../images/home-e-bg-section-c.jpg');

  .titulo {
    text-align: center;
    font-size: 2rem !important;
    @include roboto-light;
    border: none;

    span {
      @include roboto-normal;
      margin-left: 4px;
    }
  }

  .informate--bloque {
    color: $color-primario;
    margin: 0;
    position: relative;

    .informate--parrafo {
      line-height: 1.25em !important;
      margin-bottom: 2em !important;
      @include font-16;
      text-align: center;
    }
  }
}
@media (min-width: 1200px) {
  .productos--bloque {
    .producto--overlay{
      p{
        max-height:5.2em;
        overflow:hidden;
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .homeProductos {
    .productos--textos {
      padding-top: 1em;
    }

    .productos--icono {
      display: none;

      i {
        @include font-34;
      }
    }

    .productos--parrafo {
      line-height: 15px;
      @include font-12;
    }
  }

  .homePresentacion {
    .sliderHome {
      position: absolute!important;
      left: 200px !important;
      top: 108px !important;
    }

    .homePresentacion--contenedor {
      min-width: 50% !important;
      top: 2% !important;
      left: 25% !important;
      text-align: center !important;

      .titulo {
        color: #fff;
        @include font-36;
        @include roboto-normal;
        border: none;
        text-align: center !important;
      }

      .subtitulo {
        color: #fff;
        text-align: center !important;
        @include roboto-light;
        @include font-36;
        line-height: 1.2;
      }
    }
  }

  .homeProductos {
    .producto--overlay {
      display: none;
    }

    .productos--bloque {
      .productos--titulos {
        margin: 5px;
        @include font-18;
      }

      .productos--icono {
        color: #fff;
        margin: 15px;
        padding: 0;
      }

      .productos--parrafo {
        position: absolute;
        color: #fff;
        padding: 0 10px;
      }
    }
  }

  .homeInvierte {
    background-image: none;

    .invierte--bloque {
      .invierte--parrafo {
        max-width: 100%;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .homePresentacion {
    height: auto !important;

    video {
      display: none;
    }

    .sliderHome {
      width: 100% !important;
      position: relative !important;

      .titulo {
        display: none;
      }

      .swiper-slide {
        height: auto !important;
      }
    }
  }

  .homeProductos {
    .producto--overlay {
      display: none;
    }

    .productos--bloque {
      .productos--titulos {
        margin: 10px;
        @include font-20;
      }

      .productos--icono {
        color: #fff;
        margin: 10px;
      }

      .productos--parrafo {
        color: #fff;
        padding: 0 30px;
      }
    }
  }

  .homeInvierte {
    background-image: none;
    padding: 0 15px 60px;

    .invierte--bloque {
      .invierte--parrafo {
        max-width: 100%;
      }
    }
  }

  .homeLideres {
    padding: 0 15px 60px;

    .lideres--bloque {
      .lideres--imagen {
        width: 100%;
        padding-bottom: 3em;
      }
    }
  }

  .homeInformate {
    padding: 0 15px 60px;
  }
}
@media screen and (max-width: 480px) {
  .homePresentacion{
     .homePresentacion--contenedor{
        display: none;
     }
     #sliderhomeContenedor{
        margin-top: 0;
        .swiper-pagination{
           display: none;
        }
     }

   }
  .homeProductos {
    .producto--overlay {
      display: none;
    }

    .productos--bloque {
      .productos--titulos {
        margin: 10px;
        @include font-20;
      }

      .productos--icono {
        padding-bottom: 0;
      }

      .productos--parrafo {
        position: absolute;
        color: #fff !important;
        padding: 0 30px;
      }
    }
  }
}

.paraxify {
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}

div#sliderHome {
  -webkit-box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.19);
  box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.19);
}
