<div class="contenedorBuscador--ffmm colorFondo--buscador colorFuente--buscador">
  <div class="ban-row">
    <div class="margen--buscador">
      <div class="ban-col-sm-6 ban-col-md-4">
        <md-input-container class="input--dropdowns">
          <label>Desde</label>
          <md-datepicker ng-model="ctrl.myDate"></md-datepicker>
        </md-input-container>
      </div>
      <div class="ban-col-sm-6 ban-col-md-4">
        <md-input-container class="input--dropdowns">
          <label>Hasta</label>
          <md-datepicker ng-model="ctrl.myDate"></md-datepicker>
        </md-input-container>
      </div>
      <div class="ban-col-sm-12 ban-col-md-4">
        <div class="buscador--boton">
          <md-button ng-click="patrimonioResultado = !patrimonioResultado" class="boton2 boton--100 md-raised primario" type="button">
            <span class="ng-scope">Buscar</span>
          </md-button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--contenido Descarga Cartola-->
<div class="ban-col-md-12 h--paddingTop1" ng-show="patrimonioResultado">
  <div class="ban-row animated fadeInDown">
    <div class="cardBuscador" ng-show="miTexto" ng-cloak>
      <div class="ban-row">
        <!-- contenido busqueda -->
        <div class="ban-col-md-4">
          <div class="documentosCliente">
            <div class="documentosCliente--icon">
              <i class="material-icons">picture_as_pdf</i>
            </div>
            <div class="documentosCliente--info">
              <h3 class="caja--titulo">Ficha cliente</h3>
              <p class="caja--periodo">Fecha de generación 05/01/2017</p>
            </div>
            <div class="documentosCliente--download">
              <div class="download--icon">
                <a href="#contrato-actualizacion"><i class="material-icons">border_color</i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="ban-col-md-4">
          <div class="documentosCliente">
            <div class="documentosCliente--icon">
              <i class="material-icons">picture_as_pdf</i>
            </div>
            <div class="documentosCliente--info">
              <h3 class="caja--titulo">Ficha cliente</h3>
              <p class="caja--periodo">Fecha de generación 05/01/2017</p>
            </div>
            <div class="documentosCliente--download">
              <div class="download--icon">
                <a href="#contrato-actualizacion"><i class="material-icons">border_color</i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="ban-col-md-4">
          <div class="documentosCliente">
            <div class="documentosCliente--icon">
              <i class="material-icons">picture_as_pdf</i>
            </div>
            <div class="documentosCliente--info">
              <h3 class="caja--titulo">Ficha cliente</h3>
              <p class="caja--periodo">Fecha de generación 05/01/2017</p>
            </div>
            <div class="documentosCliente--download">
              <div class="download--icon">
                <a href="#contrato-actualizacion"><i class="material-icons">border_color</i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="ban-col-md-4">
          <div class="documentosCliente">
            <div class="documentosCliente--icon">
              <i class="material-icons">picture_as_pdf</i>
            </div>
            <div class="documentosCliente--info">
              <h3 class="caja--titulo">Ficha cliente</h3>
              <p class="caja--periodo">Fecha de generación 05/01/2017</p>
            </div>
            <div class="documentosCliente--download">
              <div class="download--icon">
                <a href="#contrato-actualizacion"><i class="material-icons">border_color</i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="ban-col-md-4">
          <div class="documentosCliente">
            <div class="documentosCliente--icon">
              <i class="material-icons">picture_as_pdf</i>
            </div>
            <div class="documentosCliente--info">
              <h3 class="caja--titulo">Ficha cliente</h3>
              <p class="caja--periodo">Fecha de generación 05/01/2017</p>
            </div>
            <div class="documentosCliente--download">
              <div class="download--icon">
                <a href="#contrato-actualizacion"><i class="material-icons">border_color</i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="ban-col-md-4">
          <div class="documentosCliente">
            <div class="documentosCliente--icon">
              <i class="material-icons">picture_as_pdf</i>
            </div>
            <div class="documentosCliente--info">
              <h3 class="caja--titulo">Ficha cliente</h3>
              <p class="caja--periodo">Fecha de generación 05/01/2017</p>
            </div>
            <div class="documentosCliente--download">
              <div class="download--icon">
                <a href="#contrato-actualizacion"><i class="material-icons">border_color</i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- fin contenido busqueda -->
      </div>
    </div>
  </div>
</div>
<!-- Fin contenido Descarga Cartola -->