<!-- inicio contenedorBuscador -->
<div class="contenedorBuscador--ffmm colorFondo--buscador colorFuente--buscador collapseFFMM" ng-show="ayudaFondos">
  <div class="ban-row">
    <div class="margen--buscador">
      <div class="ban-col-sm-12 ban-col-md-3">
        <md-input-container class="ayuda--input ayuda--buscador">
          <md-icon>
            <i class="material-icons buscador--icono">search</i>
          </md-icon>
          <label>Palabra clave</label>
          <input name="texto" ng-model="ffmm.palabra">
        </md-input-container>
      </div>
      <div class="ban-col-sm-6 ban-col-md-3">
        <md-input-container class="ayuda--input">
          <label>Clasificación</label>
          <md-select name="clasificacion" ng-model="ffmm.clasificacion">
            <md-option value="1">Money Market</md-option>
            <md-option value="2">Money Market</md-option>
          </md-select>
        </md-input-container>
      </div>
      <div class="ban-col-sm-6 ban-col-md-3">
        <md-input-container class="ayuda--input">
          <label>Región geográfica</label>
          <md-select name="region" ng-model="ffmm.region">
            <md-option value="1">Europa</md-option>
            <md-option value="2">Asia</md-option>
          </md-select>
        </md-input-container>
      </div>
      <div class="ban-col-sm-6 ban-col-sm-offset-3 ban-col-md-3 ban-col-md-offset-0">
        <div class="buscador--boton">
          <md-button ng-click="patrimonioResultado = !patrimonioResultado" class="boton2 boton--100 md-raised primario" type="button">
            <span class="ng-scope">Buscar</span>
          </md-button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- fin contenedorBuscador -->
<!-- inicio contenedorResultados -->
<div class="tablaMaster h--paddingBottom2" ng-show="patrimonioResultado">
  <!-- inicio resultadosTags -->
  <div class="ban-row">
    <div class="ban-col-sm-12 ban-col-md-12">
      <div class="resultado--busqueda h--margin2">
        <p> Se han encontrado 5 resultados</p>
      </div>
      <div class="tags">
        <ul>
          <li class="tags--chip">Money Market
            <button class="chip--cerrar" aria-label="cerrar">
              <md-icon class="material-icons">
                <i class="material-icons icono">close</i>
              </md-icon>
            </button>
          </li>
          <li class="tags--chip">Europa
            <button class="chip--cerrar" aria-label="cerrar">
              <md-icon class="material-icons">
                <i class="material-icons icono">close</i>
              </md-icon>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- fin resultadosTags -->
  <!-- inicio resultadosFFMM -->
  <table fixed-header class="animated fadeInDown h--marginTop1" wt-responsive-table ng-controller="tablaFFMM">
    <thead class="tableHead--buscador">
      <tr>
        <th></th>
        <th class="tableHead--titulo">Fondo Mutuo</th>
        <th>%30 días</th>
        <th>%1 año</th>
        <th>Nº cuotas</th>
        <th>Monto</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr class="tableHead--informativo">
        <td></td>
        <td class="td--principal">Fondos Money Market</td>
        <td class="td--left" colspan="12" data-title="Fondos Money Market">Son una atractiva opción para no adquirir riesgos elevados, pero aún así obtener rentabilidades competitivas en el corto plazo. </td>
      </tr>
      <tr ng-class="{'tr--active': fondomut.expanded}" ng-click="fondomut.expanded = !fondomut.expanded" ng-repeat-start="fondomut in fondomRecomend | orderBy : sort">
        <td class="td--iconoApertura">
          <md-button class="md-icon-button icons" ng-if="fondomut.expanded">
            <md-icon>
              <i class="material-icons"></i>
            </md-icon>
          </md-button>
          <md-button class="md-icon-button icons" ng-if="!fondomut.expanded">
            <md-icon>
              <i class="material-icons"></i>
            </md-icon>
          </md-button>
        </td>
        <td class="td--principal td--width25" data-title="Fondo Mutuo">{{fondomut.producto}}</td>
        <td class="td--valores" data-title="%30 días">{{fondomut.dias}}</td>
        <td class="td--valores" data-title="%1 año">{{fondomut.ano}}</td>
        <td class="td--valores" data-title="Nº cuotas">{{fondomut.cuota}}</td>
        <td class="td--valores" data-title="Monto">{{fondomut.monto}}</td>
        <!-- inicio iconoAperturaResponsive -->
        <td class="td--iconoAperturaResponsive">
          <md-button class="md-icon-button icons" ng-click="fondomut.expanded = false" ng-if="fondomut.expanded">
            <md-icon>
              <i class="material-icons"></i>
            </md-icon>
          </md-button>
          <md-button class="md-icon-button icons" ng-click="fondomut.expanded = true" ng-if="!fondomut.expanded">
            <md-icon>
              <i class="material-icons"></i>
            </md-icon>
          </md-button>
        </td>
        <!-- inicio iconoAperturaResponsive -->
        <td class="td--botones-x2">
          <div class="td--botonesTransar">
            <md-button class="boton--aportar md-raised primario" href="#fondosmutuos-aporte-clp">Aportar</md-button>
          </div>
        </td>
      </tr>
      <tr aria-label="Toggle ngHide" class="tr--desplegable animacionApertura" ng-if="fondomut.expanded" ng-repeat-end="">
        <td colspan="12">
          <div class="contenidoDesplegable" ng-controller="tablaFondoMutuos">
            <table class="tableContenido">
              <tbody>
                <tr>
                  <td colspan="7">
                    <div ng-include class="animated fadeIn" src="'detalle/detalle-cuenta-fm-privado-personas.html'"></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
      <tr ng-class="{'tr--active': fondomut.expanded}" ng-click="fondomut.expanded = !fondomut.expanded" ng-repeat-start="fondomut in fondom | orderBy : sort">
        <td class="td--iconoApertura">
          <md-button class="md-icon-button icons" ng-if="fondomut.expanded">
            <md-icon>
              <i class="material-icons"></i>
            </md-icon>
          </md-button>
          <md-button class="md-icon-button icons" ng-if="!fondomut.expanded">
            <md-icon>
              <i class="material-icons"></i>
            </md-icon>
          </md-button>
        </td>
        <td class="td--principal td--width25" data-title="Fondo Mutuo">{{fondomut.producto}}
          <div class="cartera--ico" aria-label="Ya tienes este Fondo">
            <i class="material-icons icons--color icons--small">work</i>
          </div>
        </td>
        <td class="td--valores" data-title="%30 días">{{fondomut.dias}}</td>
        <td class="td--valores" data-title="%1 año">{{fondomut.ano}}</td>
        <td class="td--valores" data-title="Nº cuotas">{{fondomut.cuota}}</td>
        <td class="td--valores" data-title="Monto">{{fondomut.monto}}</td>
        <!-- inicio iconoAperturaResponsive -->
        <td class="td--iconoAperturaResponsive">
          <md-button class="md-icon-button icons" ng-click="fondomut.expanded = false" ng-if="fondomut.expanded">
            <md-icon>
              <i class="material-icons"></i>
            </md-icon>
          </md-button>
          <md-button class="md-icon-button icons" ng-click="fondomut.expanded = true" ng-if="!fondomut.expanded">
            <md-icon>
              <i class="material-icons"></i>
            </md-icon>
          </md-button>
        </td>
        <!-- inicio iconoAperturaResponsive -->
        <td class="td--botones-x2">
          <div class="td--botonesTransar">
            <md-button class="boton--aportar md-raised primario" href="#fondosmutuos-aporte-clp">Aportar</md-button>
          </div>
        </td>
      </tr>
      <tr aria-label="Toggle ngHide" class="tr--desplegable animacionApertura" ng-if="fondomut.expanded" ng-repeat-end="">
        <td colspan="12">
          <div class="contenidoDesplegable" ng-controller="tablaFondoMutuos">
            <table class="tableContenido">
              <tbody>
                <tr>
                  <td colspan="7">
                    <div ng-include class="animated fadeIn" src="'detalle/detalle-cuenta-fm-privado-personas.html'"></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- fin resultadosFFMM -->
  <div class="ban-col-sm-12 ban-col-md-12 informese h--marginTop2 h--paddingBottom2">
    <div class="caja--informacion-icono">
      <i class="material-icons">info</i>
    </div>
    <div class="informese--texto">
      <p>La rentabilidad o ganancia obtenida en el pasado por estos fondos, no garantiza que ella se repita en el futuro. Los valores de las cuotas de los fondos son variables. Infórmese de las características esenciales de la inversión en estos fondos,
        las que se encuentran contenidas en su reglamento interno y contrato general de fondos. Las pérdidas que eventualmente pueda sufrir el Fondo serán asumidos exclusivamente por tus aportantes y no por la administradora ni por las entidades bancarias
        o financieras del grupo empresarial al cual pertenece, o tus filiales. Antes de invertir revise el Reglamento Interno y el Folleto Informativo del Fondo. Las inversiones en el Fondo no están aseguradas por la garantía estatal de los depósitos
        de la Ley General de Bancos ni por la Federal Deposit Insurance Corporation, y no son depósitos, obligaciones, ni están endosados o garantizados, en cualquier forma, por cualquier entidad bancaria. Banchile Administradora General de Fondos S.A.
        es filial del Banco de Chile, quien puede designar directores en aquella. Banco de Chile y Banchile Corredores de Bolsa S.A. son agentes de Banchile Administradora General de Fondos S.A. en la colocación, suscripción y rescates de las cuotas de
        los Fondos que administra.
      </p>
    </div>
  </div>
  <!-- Fin informese -->
</div>
<!-- fin resultados -->
