<div class="contenedorBuscador--ffmm colorFondo--buscador colorFuente--buscador collapseFFMM" ng-show="ayudaFondos">
  <div class="ban-row">
    <div class="margen--buscador">
      <div class="ban-col-sm-6 ban-col-md-3">
        <md-input-container class="ayuda--input ayuda--buscador">
          <md-icon><i class="material-icons buscador--icono">search</i></md-icon>
          <label>Palabra clave</label>
          <input name="texto" ng-model="ffmm.palabra">
        </md-input-container>
      </div>
      <div class="ban-col-sm-6 ban-col-md-3">
        <md-input-container class="ayuda--input">
          <label>Tipo de Fondo</label>
          <md-select name="clasificacion" ng-model="ffmm.clasificacion">
            <md-option value="1">Inmobiliario</md-option>
            <md-option value="2">Mobiliario</md-option>
          </md-select>
        </md-input-container>
      </div>
      <div class="ban-col-sm-6 ban-col-md-3 ban-col-md-offset-3">
        <div class="buscador--boton">
          <md-button ng-click="patrimonioResultado = !patrimonioResultado" class="boton2 boton--100 md-raised primario" type="button">
            <span class="ng-scope">Buscar</span>
          </md-button>
        </div>
      </div>
    </div>
  </div>
</div>