<div class="contenedorBuscador--ffmm colorFondo--buscador colorFuente--buscador collapseFFMM h--marginTop1">
  <div class="ban-row">
    <div class="margen--buscador">
      <div class="ban-col-sm-6 ban-col-md-3">
        <md-input-container class="ayuda--input ayuda--buscador">
          <md-icon><i class="material-icons buscador--icono">search</i></md-icon>
          <label>Palabra clave</label>
          <input name="texto" ng-model="ffmm.palabra">
        </md-input-container>
      </div>
      <div class="ban-col-sm-6 ban-col-md-3">
        <md-input-container class="input--dropdowns">
          <label>Desde</label>
          <md-datepicker ng-model="ctrl.myDate"></md-datepicker>
        </md-input-container>
      </div>
      <div class="ban-col-sm-6 ban-col-md-3">
        <md-input-container class="input--dropdowns">
          <label>Hasta</label>
          <md-datepicker ng-model="ctrl.myDate"></md-datepicker>
        </md-input-container>
      </div>
      <div class="ban-col-sm-12 ban-col-md-3">
        <div class="buscador--boton">
          <md-button class="boton2 boton--100 md-raised primario" type="button">
            <span class="ng-scope">Buscar</span>
          </md-button>
        </div>
      </div>
    </div>
  </div>
</div>
