<section>
  <div class="contenido--background definir-empresa"></div>
  <div class="ban-container">
    <div class="card h--marginTopcard h--borderRadiusTop4px" ng-controller="BuscaListadoCtrl">
      <div class="ban-row a_fadein">
        <div class="ban-col-xs-12 ban-col-sm-12 ban-col-md-5">
          <h1 class="titulo--operacion ">Usuarios</h1>
          <div class="border--titulo">
            <hr>
          </div>
        </div>
        <div class="ban-col-xs-12 ban-col-sm-12 ban-col-md-7">
          <div id="select-cuenta" ng-include src=" 'select-cuenta/empresas/card-cuenta-buscar-add-fav-usuario.html' "></div>
        </div>
        <!-- inicio buscador -->
        <div class="ban-col-xs-12 ban-col-sm-12 ban-col-md-12">
          <div ng-controller="VerAyudaFFMM" ng-show="miTexto" ng-cloak>
            <div ng-include src=" 'buscadores/buscador-documentos.html' ">
            </div>
          </div>
        </div>
        <!-- fin buscador -->
      </div>
    </div>
  </div>
</section>
<!-- inicio contenedorUsuarios -->
<section>
  <div class="ban-container" ng-controller="animateCtrl">
    <div class="card tablaMaster h--marginBottom4 h--borderRadiusBottom4px h--paddingBottom2">
      <!-- inicio usuariosListado -->
      <table fixed-header class="a_fadein" wt-responsive-table ng-controller="tablaUsuariosnew">
        <thead>
          <tr>
            <th></th>
            <th class="tableHead--titulo">Nombre</th>
            <th>Rut</th>
            <th>Teléfono</th>
            <th>Email</th>
            <th>Creación</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <!--usuarios-->
          <tr ng-class="{'tr--active': usuarios.expanded}" ng-click="usuarios.expanded = !usuarios.expanded" ng-repeat-start="usuarios in benef | orderBy : sort" class="no_visible" when-visible="a_fadein">
            <td class="td--iconoApertura">
              <md-button class="md-icon-button acciones" ng-if="!usuarios.expanded">
                <md-icon>
                  <i class="material-icons"></i>
                </md-icon>
              </md-button>
              <md-button class="md-icon-button acciones" ng-if="usuarios.expanded">
                <md-icon>
                  <i class="material-icons"></i>
                </md-icon>
              </md-button>
            </td>
            <td class="td--principal">{{usuarios.nombres + ' ' + usuarios.apellidoPaterno + ' ' + usuarios.apellidoMaterno}}</td>
            <td class="td--valores">{{usuarios.rut}}</td>
            <td class="td--valores">{{usuarios.telefono}}</td>
            <td class="td--valores">{{usuarios.email}}</td>
            <td class="td--valores">{{usuarios.creacion}}</td>
            <!-- inicio iconoAperturaResponsive -->
            <td class="td--iconoAperturaResponsive">
              <md-button class="md-icon-button acciones" ng-if="!usuarios.expanded" ng-click="usuarios.expanded = true">
                <md-icon>
                  <i class="material-icons"></i>
                </md-icon>
              </md-button>
              <md-button class="md-icon-button acciones" ng-if="usuarios.expanded" ng-click="usuarios.expanded = false">
                <md-icon>
                  <i class="material-icons"></i>
                </md-icon>
              </md-button>
            </td>
            <!-- fin iconoAperturaResponsive -->
            <td class="td--iconos">
              <div class="td--botonesTransar">
                <md-button class="md-icon-button acciones" aria-label="comprobante" ng-href="#editar-usuario">
                  <md-icon>
                    <i class="material-icons icono--principal">&#xE254;</i>
                  </md-icon>
                  <md-tooltip md-direction="bottom">Editar</md-tooltip>
                </md-button>
              </div>
            </td>
            <td class="td--iconos">
              <div class="td--botonesTransar">
                <md-button class="md-icon-button acciones" aria-label="comprobante">
                  <md-icon>
                    <i class="material-icons icono--principal">&#xE872;</i>
                  </md-icon>
                  <md-tooltip md-direction="bottom">Eliminar</md-tooltip>
                </md-button>
              </div>
            </td>
          </tr>
          <tr aria-label="Toggle ngHide" class="tr--desplegable animacionApertura" ng-if="usuarios.expanded" ng-repeat-end="">
            <td colspan="12">
              <div class="contenidoDesplegable" ng-controller="tablaFondoMutuos">
                <table class="tableContenido tableContenido__margin">
                  <tbody>
                    <tr>
                      <td class="despliegueDetalle" colspan="7">
                        <div ng-include class="a_fadein" src="'detalle/detalle-usuarios-datos.html'"></div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- fin usuariosListado -->
    </div>
  </div>
</section>
<!-- fin contenedorUsuarios -->
