<!-- Giss 15 nov-->
<section>
  <div class="contenido--background invertir-empresa"></div>
  <div class="ban-container">
    <div class="card h--marginTopcard h--borderRadiusTop4px" ng-controller="BuscaListadoCtrl">
      <div class="ban-row a_fadein">
        <div class="ban-col-xs-12 ban-col-sm-12 ban-col-md-5 ban-col-lg-4">
          <h1 class="titulo--operacion">Rescatar Fondos Mutuos</h1>
          <div class="border--titulo">
            <hr width="31%">
          </div>
        </div>
        <div class="ban-col-xs-12 ban-col-sm-12 ban-col-md-7 ban-col-lg-8">
          <div id="select-cuenta" ng-include src=" 'select-cuenta/personas/card-cuenta-fav.html' "></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section ng-controller="animateCtrl">
  <div class="ban-container" ng-controller="solicFondoM" ng-init="clp='$'; dolar='USD$'" id="solicFondoMCtrl">
    <div class="card h--borderRadiusBottom4px">
      <!-- inicio tituloCaracteristicas -->
      <div class="contenedor--subtitulo">
        <h3 class="subtitulo a_fadeup1">
          <span class="subtitulo__icono--verde">
            <md-icon><i class="material-icons">check</i></md-icon>
          </span> Características del Fondo Mutuo
        </h3>
      </div>
      <!-- fin tituloCaracteristicas -->
      <!-- inicio seccionCaracteristicas -->
      <div class="ban-row a_fadein">
        <div class="ban-col-sm-12">
          <div class="operacion--seleccion">
            <div class="ban-row">
              <div class="ban-col-sm-12 ban-col-md-6 ban-col-sm-12">
                <p class="seleccion__label">Fondo Mutuo seleccionado</p>
                <p class="seleccion__fondo">Corporate Dollar serie A / Cuenta 1</p>
              </div>
              <div class="ban-col-sm-12  ban-col-md-3 ban-col-sm-6">
                <p class="seleccion__montos">Saldo disponible</p>
                <p class="seleccion__cifra">$2.000.000</p>
              </div>
              <div class="ban-col-sm-12  ban-col-md-3 ban-col-sm-6">
                <p class="seleccion__montos">Monto libre de comisión</p>
                <p class="seleccion__cifra">$100</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- fin seccionCaracteristicas -->
      <!-- inicio tituloDatos -->
      <div class="contenedor--subtitulo">
        <h3 class="subtitulo no_visible" when-visible="a_fadeup1">
          <span class="subtitulo__icono--amarillo">
            <md-icon><i class="material-icons">arrow_downward</i></md-icon>
          </span> Datos del rescate
        </h3>
      </div>
      <!-- fin tituloDatos -->
      <!-- inicio seccionDatos -->
      <div class="ban-row h--marginTop1 a_fadein">
        <div class="ban-col-sm-6 ban-col-md-3">
          <md-input-container class="input--radiobutton">
            <label class="radiobutton--label">Quiero hacer un rescate</label>
            <md-radio-group ng-model="data.group1">
              <md-radio-button value="1" class="md-primary precio--limite">Parcial</md-radio-button>
              <md-radio-button value="2" class="md-primary precio--limite">Total</md-radio-button>
            </md-radio-group>
          </md-input-container>
        </div>
        <div class="ban-col-sm-6 ban-col-md-3">
          <md-input-container class="input--dropdowns">
            <label>Quiero rescatar un monto de</label>
            <p class="input--txt_pay">$</p>
            <input class="input--text_monto" placeholder="0">
            <div ng-messages="banchilepayForm.monto.$error">
              <div ng-message="required">Este campo es obligatorio.</div>
            </div>
          </md-input-container>
        </div>
        <div class="ban-col-sm-6 ban-col-sm-push-6 ban-col-md-3 ban-col-md-push-3">
          <div class="bubble-amarillo">
            <p class="bubble__label">Comisión estimada</p>
            <p class="bubble__monto">
              <span class="h--pullRight">$460,00</span>
            </p>
          </div>
        </div>
      </div>
      <!-- fin seccionDatos -->
      <!-- inicio seccionDestino -->
      <div ng-controller="agregarOtro" class="ng-cloak">
        <div class="contenedor--subtitulo subtitulos__usuarios">
          <div class="ban-row">
            <div class="ban-col-xs-9 ban-col-sm-9 ban-col-md-9">
              <h3 class="subtitulo no_visible" when-visible="a_fadeup1">
                <span class="subtitulo__icono--amarillo">
                  <md-icon><i class="material-icons">arrow_downward</i></md-icon>
                </span> Destino del rescate
              </h3>
            </div>
            <div class="ban-col-xs-3 ban-col-sm-3 ban-col-md-3 h--alignRight">
              <div class="subtitulo--boton">
                <md-button class="md-icon-button boton--agregar" ng-click="add()" ng-if="items.length == 1">
                  <md-icon class="boton--agregar--icon">
                    <i class="material-icons boton--agregar--plus">add</i>
                    <md-tooltip>Agregar otro</md-tooltip>
                  </md-icon>
                </md-button>
                <md-button class="md-icon-button boton--agregar" aria-label="eliminar" ng-click="remove($index)" ng-if="items.length > 1">
                  <md-icon>
                    <i class="material-icons boton--color">&#xE872;</i>
                    <md-tooltip>Eliminar</md-tooltip>
                  </md-icon>
                </md-button>
              </div>
            </div>
          </div>
        </div>
        <div ng-repeat="item in items">
          <div class="contenedor--subtitulo " ng-if="!$first">
            <div class="ban-row a_fadein">
              <div class="ban-col-xs-7 ban-col-sm-9 ban-col-md-10">
                <h3 class="subtitulo">
                  <span class="subtitulo__icono--amarillo">
                    <md-icon><i class="material-icons">arrow_downward</i></md-icon>
                  </span> Ingresa otro
                </h3>
              </div>
              <div class="ban-col-xs-5 ban-col-sm-3 ban-col-md-2 h--alignRight">
                <div class="subtitulo--boton">
                  <div>
                    <md-button class="md-icon-button boton--agregar" ng-click="add()" ng-if="$last">
                      <md-icon class="boton--agregar--icon">
                        <i class="material-icons boton--agregar--plus">add</i>
                        <md-tooltip>Agregar otro</md-tooltip>
                      </md-icon>
                    </md-button>
                    <md-button class="md-icon-button boton--agregar" aria-label="eliminar" ng-click="remove($index)">
                      <md-icon>
                        <i class="material-icons boton--color">&#xE872;</i>
                        <md-tooltip>Eliminar</md-tooltip>
                      </md-icon>
                    </md-button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- inicio destino -->
          <div ng-include src=" 'detalle/reinversion.html' "></div>
          <!-- fin destino -->
        </div>
        <div class="contenedor--formulario no_visible" when-visible="a_fadein">
          <div class="ban-row h--marginTop1">
            <div class="ban-col-xs-12 ban-col-sm-6 ban-col-sm-push-6 ban-col-md-3 ban-col-md-push-9">
              <div class="producto--seleccionadoB">
                <div class="ban-col-xs-12">
                  <p class="seleccionado__label">Total</p>
                  <p class="seleccionado__total ">
                    <span class="total--monto h--pullRight">$0</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- fin seccionDestino -->
      <!-- inicio tituloTerminos -->
      <div class="contenedor--subtitulo">
        <h3 class="subtitulo no_visible" when-visible="a_fadeup1">
          <span class="subtitulo__icono--amarillo">
            <md-icon><i class="material-icons">arrow_downward</i></md-icon>
          </span> Confirma tu solicitud
        </h3>
      </div>
      <!-- fin tituloTerminos -->
      <!-- inicio seccionTerminos -->
      <div class="ban-row no_visible" when-visible="a_fadein">
        <div class="ban-col-xs-12 ban-col-sm-6">
          <div class="condiciones">
            <div class="condiciones--texto" height="200">
              <p>Declaro que he sido informado de lo siguiente:</p>
              <br/>
              <p>
                El Cliente declara su intención de entregar en administración a Banchile Administradora General de Fondos S.A. activos de su propiedad, para ser invertidos única y exclusivamente en Fondos Mutuos administrados por la misma Administradora, de modo que
                ésta, por cuenta y riesgo del Cliente, pueda decidir su inversión, enajenación y demás actividades que correspondan, de acuerdo a las disposiciones del presente Contrato y a las normas legales o reglamentarias vigentes o que se dicten
                en el futuro.
                <br/>Las partes entienden por “Activos” la totalidad de los recursos en efectivo y cuotas de fondos mutuos de que el Cliente sea titular y que éste entregue a la Administradora para su administración, así como las cuotas de fondos mutuos
                que éste adquiera para el Cliente en dicha administración y los dividendos y rescates provenientes de las respectivas inversiones que la Administradora efectúe por cuenta del Cliente. En el Anexo al Contrato de Administración de Cartera
                en Fondos Mutuos se contempla el “Plan de Inversión” donde se señala la Cartera de Fondos Mutuos administrados por la Administradora en la que se deberán mantener invertidos los Activos del Cliente, según se define más adelante. El Cliente
                podrás mantener una o más Carteras objeto de inversión, las que serán administradas por la Administradora, de acuerdo a los límites establecidos en el respectivo Anexo Plan de Inversión. Con todo, previa firma de un nuevo Anexo, el Cliente
                podrás siempre y en cualquier tiempo cambiarse de una Cartera a otra a partir del primer proceso de ajuste, según se señala más adelante. Por “Cartera” se entenderá aquel conjunto de cuotas de aquellos fondos mutuos administrados por la
                Administradora, que componen cada una de las categorías de fondos mutuos en las cuales se invertirán los activos del Cliente. Existirán 7 Carteras denominadas: Cartera Protegida, Cartera Defensiva, Cartera Controlada, Cartera Moderada,
                Cartera Equilibrada, Cartera Potenciada y Cartera Agresiva, cuyas características, Activo objeto y límites, están definidos en los respectivos Anexos. Sin perjuicio de lo anterior, el número de carteras puede aumentarse en el futuro, de
                común acuerdo por las partes, mediante la formalización de un nuevo Anexo. Cada vez que el presente Contrato se refiera a la palabra “Fondos Mutuos”, deberá entenderse por tal aquel patrimonio a que se refiere el artículo 28 de la Ley
                número 20.712 de 2014, administrado para estos efectos por Banchile Administradora General de Fondos S.A.
              </p>
            </div>
            <md-input-container class="input--dropdowns">
              <md-checkbox id="check" name="check" ng-model="datachecked.check" aria-label="Checkbox 2">
                He leído y acepto las condiciones
              </md-checkbox>
            </md-input-container>
          </div>
        </div>
        <div class="ban-col-xs-12 ban-col-sm-6">
          <div ng-show="datachecked.check">
            <div ng-include class="a_fadein" src="'autorizaciones/autorizacion_operacion-ffmmRescate-personas.html'"></div>
          </div>
        </div>
      </div>
      <!-- fin seccionTerminos -->
    </div>
    <!-- boton volver -->
    <div class="ban-row">
      <div class="ban-col-xs-3 ban-col-sm-2 ban-col-md-2">
        <div class="boton--back h--marginBottom2" ng-controller="modalesCrtl">
          <md-button ng-href="#fondos-mutuos">
            <i class="material-icons">arrow_back</i>
            <span>Volver</span>
          </md-button>
        </div>
      </div>
    </div>
    <!-- fin boton volver -->
  </div>
</section>
<!-- aside include -->
<section>
  <md-sidenav class="md-sidenav-right h--positionFix" md-whiteframe="4" md-component-id="right">
    <div ng-include class="a_fadein" src="'detalle/detalle-operaciones-aside-ffmm-reinv-new.html'"></div>
  </md-sidenav>
</section>
<section>
  <md-sidenav class="md-sidenav-right h--positionFix" md-whiteframe="4" md-component-id="right2">
    <div ng-include class="a_fadein" src="'detalle/detalle-operaciones-aside-CA-reinv-new.html'"></div>
  </md-sidenav>
</section>
