<!-- Jadra 25 Oct-->
<section>
  <div class="contenido--background invertir-empresa"></div>
  <div class="ban-container">
    <div class="card h--marginTopcard h--borderRadiusTop4px" ng-controller="BuscaListadoCtrl">
      <div class="ban-row  animated fadeInDown">
        <div class="ban-col-xs-12 ban-col-sm-12 ban-col-md-5 ban-col-lg-4">
          <h1 class="titulo--operacion">Aportar Fondos Mutuos</h1>
          <div class="border--titulo">
            <hr>
          </div>
        </div>
        <div class="ban-col-xs-12 ban-col-sm-12 ban-col-md-7 ban-col-lg-8">
            <div id="select-cuenta" ng-include src=" 'select-cuenta/personas/card-cuenta-fav.html' "></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="ban-container" ng-controller="solicFondoM">
    <div class="card h--borderRadiusBottom4px">
      <!-- subtitulo -->
      <div class="contenedor--subtitulo">
        <h3 class="subtitulo ">
          <span class="subtitulo__icono--verde">
            <md-icon><i class="material-icons">check</i></md-icon>
          </span> Características del Fondo Mutuo
        </h3>
      </div>
      <!-- fin subtitulo -->
      <!-- bloque 1 fondo seleccionado -->
      <div class="ban-row h--marginTop1">
        <div class="ban-col-sm-12">
          <div class="operacion--seleccion">
            <div class="ban-row">
              <div class="ban-col-xs-12 ban-col-sm-6">
                <p class="seleccion__label">Fondo Mutuo seleccionado</p>
                <p class="seleccion__fondo">Cash / Cuenta 1</p>
              </div>
              <div class="ban-col-xs-12 ban-col-sm-3">
                <p class="seleccion__montos">Monto invertido</p>
                <p class="seleccion__cifra">USD$100.000</p>
              </div>
              <div class="ban-col-xs-12 ban-col-sm-3">
                <p class="seleccion__montos">Monto mínimo del aporte</p>
                <p class="seleccion__cifra">USD$500</p>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- fin bloque 1 fondo seleccionado -->
      <!--inicio bloque 2 origen -->
      <div class="ban-row">
        <div class="ban-col-sm-12 ">
          <div class="contenedor--subtitulo h--paddingTop1">
            <h3 class="subtitulo ">
              <span class="subtitulo__icono--verde">
                  <md-icon><i class="material-icons">check</i></md-icon>
                </span> Origen del aporte
            </h3>
          </div>
        </div>
      </div>
      <div class="ban-row h—paddingTop" ng-controller="solicFondoM">
        <div class="ban-col-xs-12 ban-col-sm-12 ban-col-md-6">
          <div class="operacion--seleccion">
            <div class="ban-row">
              <div class="ban-col-sm-7 ban-col-md-6">
                <p class="seleccion__label">Saldo disponible en caja</p>
                <p class="seleccion__fondo">$1.000.000.000</p>
              </div>
              <div class="ban-col-xs-12 ban-col-sm-5 ban-col-md-6 h--alignCenter">
                <md-button ng-href="popup.html#/popup-cajaInternet" target="popup" onClick="window.open(this.href, this.target, 'width=800, height=500'); return false;" class="boton2 md-raised primario">abonar</md-button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--fin bloque 2 origen -->
      <!-- inicio compra dolar -->
      <div class="contenedor--subtitulo">
        <h3 class="subtitulo">
          <span class="subtitulo__icono--amarillo">
      <md-icon><i class="material-icons">arrow_downward</i></md-icon>
    </span> Datos del aporte
        </h3>
      </div>
      <!-- inicio input montos -->
      <div class="ban-row h--marginTop1">
        <div class="ban-col-md-3">
          <div class="operacion--seleccion color-destacado">
            <div class="ban-row">
              <div class=" ban-col-sm-7 ban-col-md-6 ban-col-md-push-1">
                <p class="seleccion__label">Precio Dólar</p>
                <p class="seleccion__fondo">$670,00</p>
              </div>
              <div class="ban-col-sm-5 ban-col-md-4 ban-col-md-push-1">
                <div class="progressCirculo--boxOperacion h--marginCenter">
                  <div class="progress-wrapper" ng-controller="timerProgress">
                    <div class="progress ng-cloak" ng-style="getStyle()">{{ time }}</div>
                    <round-progress max="59" current="seconds" color="#F6A623" bgcolor="transparent" radius="{{ radius*0.27 }}" semi="isSemi"
                      rounded="rounded" clockwise="clockwise" responsive="responsive" stroke="{{ stroke*0.38 }}" animation="{{ currentAnimation }}"
                      offset="inherit"></round-progress>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ban-col-md-6">
          <div class="ban-col-xs-12 ban-col-sm-6 ban-col-md-6 h--marginTop0_6">
            <md-input-container class="input--dropdowns md-input-has-placeholder">
              <label for="input_0">Quiero comprar</label>

              <input class="input--text_monto md-input" placeholder="USD$" id="input_0">
              <div class="md-errors-spacer"></div>
              <div ng-messages="banchilepayForm.monto.$error" class="md-input-messages-animation md-auto-hide ng-inactive" aria-live="assertive">
              </div>
            </md-input-container>
          </div>
          <div class="moneda-icono">
            <md-icon class="material-icons"><i class="material-icons">autorenew</i></md-icon>
          </div>
          <div class="ban-col-xs-12 ban-col-sm-6 ban-col-md-6 h--marginTop0_6">
            <md-input-container class="input--text md-input-has-placeholder">
              <label for="input_1">Equivalente a</label>

              <input class="input--text_monto ng-pristine ng-untouched ng-valid md-input ng-empty" ng-model="user.monto" placeholder="$"
                id="input_1" aria-invalid="false">
              <div class="md-errors-spacer"></div>
              <div ng-messages="banchilepayForm.aPagar.$error" class="md-input-messages-animation md-auto-hide ng-inactive" aria-live="assertive">
              </div>
            </md-input-container>
          </div>
        </div>
        <div class="ban-col-xs-12 ban-col-sm-6 ban-col-md-3">
          <div class="operacion--switch_ffmm">
            <p class="switch__montos_ffmm">Acoger operación a</p>
            <md-switch>
              Plan Familia de Fondos
            </md-switch>
          </div>
        </div>
      </div>
      <!-- fin input montos -->
      <!-- inicio fijar precio -->
          <div class="contenedor-alerta h--marginTop0_6">
            <div ng-include  src="'mensajes/mensajes--alertaDolarEstandar.html'"></div>
          </div>
      <!-- fin fijar precio -->
      <!-- bloque 4 terminos -->
      <div class="contenedor--subtitulo">
        <h3 class="subtitulo ">
          <span class="subtitulo__icono--amarillo">
            <md-icon><i class="material-icons">arrow_downward</i></md-icon>
          </span> Confirma tu solicitud
        </h3>
      </div>
      <div class="ban-row">
        <div class="ban-col-xs-12 ban-col-sm-6">
          <div class="condiciones">
            <div class="condiciones--texto" height="200">
              <p>Declaro que he sido informado de lo siguiente:</p>
              </br>
              <p>
                El Cliente declara su intención de entregar en administración a Banchile Administradora General de Fondos S.A. activos de
                su propiedad, para ser invertidos única y exclusivamente en Fondos Mutuos administrados por la misma Administradora,
                de modo que ésta, por cuenta y riesgo del Cliente, pueda decidir su inversión, enajenación y demás actividades
                que correspondan, de acuerdo a las disposiciones del presente Contrato y a las normas legales o reglamentarias
                vigentes o que se dicten en el futuro.
                </br>Las partes entienden por “Activos” la totalidad de los recursos en efectivo y cuotas de fondos mutuos
                de que el Cliente sea titular y que éste entregue a la Administradora para su administración, así como las
                cuotas de fondos mutuos que éste adquiera para el Cliente en dicha administración y los dividendos y rescates
                provenientes de las respectivas inversiones que la Administradora efectúe por cuenta del Cliente. En el Anexo
                al Contrato de Administración de Cartera en Fondos Mutuos se contempla el “Plan de Inversión” donde se señala
                la Cartera de Fondos Mutuos administrados por la Administradora en la que se deberán mantener invertidos
                los Activos del Cliente, según se define más adelante. El Cliente podrás mantener una o más Carteras objeto
                de inversión, las que serán administradas por la Administradora, de acuerdo a los límites establecidos en
                el respectivo Anexo Plan de Inversión. Con todo, previa firma de un nuevo Anexo, el Cliente podrás siempre
                y en cualquier tiempo cambiarse de una Cartera a otra a partir del primer proceso de ajuste, según se señala
                más adelante. Por “Cartera” se entenderá aquel conjunto de cuotas de aquellos fondos mutuos administrados
                por la Administradora, que componen cada una de las categorías de fondos mutuos en las cuales se invertirán
                los activos del Cliente. Existirán 7 Carteras denominadas: Cartera Protegida, Cartera Defensiva, Cartera
                Controlada, Cartera Moderada, Cartera Equilibrada, Cartera Potenciada y Cartera Agresiva, cuyas características,
                Activo objeto y límites, están definidos en los respectivos Anexos. Sin perjuicio de lo anterior, el número
                de carteras puede aumentarse en el futuro, de común acuerdo por las partes, mediante la formalización de
                un nuevo Anexo. Cada vez que el presente Contrato se refiera a la palabra “Fondos Mutuos”, deberá entenderse
                por tal aquel patrimonio a que se refiere el artículo 28 de la Ley número 20.712 de 2014, administrado para
                estos efectos por Banchile Administradora General de Fondos S.A.
              </p>
            </div>
            <md-input-container class="input--dropdowns">
              <md-checkbox id="check" name="check" ng-model="datachecked.check" aria-label="Checkbox 2">
                He leído y acepto las condiciones
              </md-checkbox>
            </md-input-container>
          </div>
        </div>
        <div class="ban-col-xs-12 ban-col-sm-6">
          <div ng-show="datachecked.check">
            <div ng-include class="animated fadeIn" src="'autorizaciones/autorizacion_operacion-ffmmAporte-personas.html'"></div>
          </div>
        </div>
      </div>
      <!-- bloque 4 terminos -->
    </div>
    <!-- fin boton volver -->
    <div class="ban-row">
      <div class="ban-col-xs-3 ban-col-sm-2 ban-col-md-2">
        <div class="boton--back" ng-controller="modalesCrtl">
          <md-button ng-href="#fondos-mutuos">
            <i class="material-icons">arrow_back</i>
            <span>Volver</span>
          </md-button>
        </div>
      </div>
    </div>
    <!-- fin boton volver -->
</section>
<!-- aside include -->
<section>
  <md-sidenav class="md-sidenav-right h--positionFix" md-whiteframe="4" md-component-id="right">
    <div ng-include class="animated fadeIn" src="'detalle/detalle-abono.html'"></div>
  </md-sidenav>
</section>
