<section>
  <div class="contenido--background reputacion-persona"></div>
  <div class="ban-container">
    <div class="card h--marginTopcard h--borderRadiusTop4px">
      <div class="ban-row a_fadein">
        <div class="ban-col-xs-12 ban-col-sm-12 ban-col-md-5">
          <h1 class="titulo--operacion">Cartera Activa</h1>
          <div class="border--titulo">
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- inicio contenedorPortada -->
<section>
  <div class="ban-container">
    <div class="ban-col-md-12 contenedorPortada headerCarteraActiva">
      <div class="contenedorPortada--filtro">
      </div>
      <div class="portada--textoPrueba">
        <div class="cuadroFlotante ban-col-lg-9 ban-col-sm-12">
          <h3 class="portada--titulo">Recomendamos</h3>
        </div>
        <div class="cuadroFlotanteP ban-col-lg-8 ban-col-sm-12 ban-col-md-8">
          <p class="portada--bajada">Delega tus inversiones en las manos de nuestros expertos que monitorean e incorporan oportunamente los cambios
            en los mercados.
          </p>
        </div>
        <div class="cuadroFlotante ban-col-lg-9 ban-col-sm-12">
          <a href="#">Aprende más sobre Cartera Activa</a>
          <a href="#">Elige tu Cartera Activa</a>
          <a href="#">Más asesoría sobre mis inversiones</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- fin contenedorPortada -->
<!-- fin contenedorPortada -->
<section>
  <div class="ban-container">
    <div class="card">
      <div class="ban-col-md-10 ban-col-md-offset-1 h--paddingTop2 a_fadein">
        <h3 class="subtitulos-centrados">Explora nuestras Carteras</h3>
      </div>
    </div>
  </div>
</section>
<!-- fin tituloFortalezas -->
<section>
  <div class="ban-container" ng-controller="animateCtrl">
    <div class="card">
      <div class="ban-row">
        <div class="ban-col-sm-12 ban-col-md-12  ban-col-sm-12 ban-col-lg-12 ">
          <div class="ban-col-xs-12 ban-col-sm-6 ban-col-md-4 h--paddingTop2 no_visible" when-visible="a_fadeleft1">
            <div class="items--pilares pilares--centrados">
              <h3 class="items--subtitulo">Cartera Protegida</h3>
              <div class="grafico--cartera">
                <img src="assets/images/svg/CA/barra100.svg">
              </div>
            </div>
          </div>
          <div class="ban-col-xs-12 ban-col-sm-6 ban-col-md-4 h--paddingTop2  no_visible" when-visible="a_fadeleft2">
            <div class="items--pilares pilares--centrados">
              <h3 class="items--subtitulo">Cartera Defensiva</h3>
              <div class="grafico--cartera">
                <img src="assets/images/svg/CA/barra100.svg">
              </div>
            </div>
          </div>
          <div class="ban-col-xs-12 ban-col-sm-6 ban-col-md-4 h--paddingTop2 col-center no_visible" when-visible="a_fadeleft3">
            <div class="items--pilares pilares--centrados">
              <h3 class="items--subtitulo">Cartera Controlada</h3>
              <div class="grafico--cartera">
                <img src="assets/images/svg/CA/barra10020.svg">
              </div>
            </div>
          </div>
          <div class="ban-col-xs-12 ban-col-sm-6 ban-col-md-4 h--paddingTop2 no_visible" when-visible="a_fadeleft1">
            <div class="items--pilares pilares--centrados">
              <h3 class="items--subtitulo">Cartera Moderada</h3>
              <div class="grafico--cartera">
                <img src="assets/images/svg/CA/barra6040.svg">
              </div>
            </div>
          </div>
          <div class="ban-col-xs-12 ban-col-sm-6 ban-col-md-4 h--paddingTop2 no_visible" when-visible="a_fadeleft2">
            <div class="items--pilares pilares--centrados">
              <h3 class="items--subtitulo">Cartera Equiibrada</h3>
              <div class="grafico--cartera">
                <img src="assets/images/svg/CA/barra4060.svg">
              </div>
            </div>
          </div>
          <div class="ban-col-xs-12 ban-col-sm-6 ban-col-md-4 h--paddingTop2  no_visible" when-visible="a_fadeleft3">
            <div class="items--pilares pilares--centrados">
              <h3 class="items--subtitulo">Cartera Potenciada</h3>
              <div class="grafico--cartera">
                <img src="assets/images/svg/CA//barra2080.svg">
              </div>
            </div>
          </div>
          <div class="ban-col-xs-12 ban-col-sm-6 ban-col-md-4 h--paddingTop2  no_visible" when-visible="a_fadeleft1">
            <div class="items--pilares pilares--centrados">
              <h3 class="items--subtitulo">Cartera Agresiva</h3>
              <div class="grafico--cartera">
                <img src="assets/images/svg/CA/barra0100.svg">
              </div>
            </div>
          </div>
        </div>
        <div class=" ban-col-xs-12  ban-col-sm-6 ban-col-md-12  h--alingCenter2 ">
          <div class="detalle--descripcion h--paddingTop2">
            <div class="descripcion--composicion"></div>
            <div class="descripcion--texto">
              <p> % Renta fija</p>
            </div>
            <div class="descripcion--composicion descripcion--composicion__naranja"></div>
            <div class="descripcion--texto">
              <p> % Renta variable</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<!-- inicio tituloVentajas -->
<section>
  <div class="ban-container">
    <div class="card">
      <div class="ban-col-sm-12 ban-col-md-12 h--marginTop2">
        <div class="contenedor--subtitulo h--borde ">
          <h3 class="subtitulos-centrados a_fadeup1">Razones para invertir en Cartera Activa</h3>
          <p class="bajada--texto a_fadeup1">Una excelente alternativa de inversión de una manera fácil, cómoda y conveniente</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- fin tituloVentajas -->
<!-- inicio contenedorVentajas -->
<section>
  <div class="ban-container">
    <div class="card">
      <div class="ban-row">
        <div class="ban-col-sm-6 ban-col-md-3 a_fadeup1">
          <div class="items--caja h--shadowBox">
            <img class="caja--icono h--marginTop1" src="assets/images/iconosDisplay/IcoDisplay_Finance-EstrategiaInversion.png" alt="">
            <p class="caja--subtitulo">Adaptabilidad</p>
            <p class="caja--texto">Se ajusta a las condiciones del mercado invirtiendo en los activos que ofrezcan mayor valor.</p>
          </div>
        </div>
        <div class="ban-col-sm-6 ban-col-md-3 a_fadeup2">
          <div class="items--caja h--shadowBox">
            <img class="caja--icono h--marginTop1" src="assets/images/iconosDisplay/IcoDisplay_Diversidad.png" alt="">
            <p class="caja--subtitulo">Diversidad</p>
            <p class="caja--texto">Existen siete Carteras Activas ajustadas al riesgo que esté dispuesto a asumir.</p>
          </div>
        </div>
        <div class="ban-col-sm-6 ban-col-md-3 a_fadeup3">
          <div class="items--caja h--shadowBox">
            <img class="caja--icono h--marginTop1" src="assets/images/iconosDisplay/IcoDisplay_Diversificacion.png" alt="">
            <p class="caja--subtitulo">Menor riesgo,
              <br/> mayor diversificación</p>
            <p class="caja--texto">Permite diversificar tus inversiones en una amplia gama de Fondos Mutuos.</p>
          </div>
        </div>
        <div class="ban-col-sm-6 ban-col-md-3 a_fadeup4">
          <div class="items--caja h--shadowBox">
            <img class="caja--icono h--marginTop1" src="assets/images/iconosDisplay/IcoDisplay_Informacion.png" alt="">
            <p class="caja--subtitulo">Información detallada</p>
            <p class="caja--texto">Información mensual sobre los movimientos que la cartera realice.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- fin contenedorVentajas -->
<!-- inicio tituloVideo -->
<section>
  <div class="ban-container" ng-controller="animateCtrl">
    <div class="card fondoSeparador">
      <div class="ban-col-sm-12 ban-col-md-12 h--marginTop1">
        <div class="contenedor--subtitulo h--borde animated fadeInDown">
          <h3 class="subtitulos-centrados no_visible" when-visible="a_fadeup1">Aprende a invertir en Cartera Activa</h3>
          <p class="bajada--texto  no_visible" when-visible="a_fadein">Te entregamos toda la información que necesitas para tomar tus decisiones de inversión</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- fin tituloVideo -->
<!-- inicio contenedorVideo -->
<section>
  <div class="ban-container" ng-controller="animateCtrl">
    <div class="card  fondoSeparador h--paddingBottom2">
      <div class="contenedorVideo">
        <div class="ban-row">
          <div class="ban-col-md-5">
            <div class="contenedorVideo--imagen">
              <img src="assets/images/sitio_publico/Aprende-CarteraActiva.jpg">
            </div>
          </div>
          <div class="ban-col-md-7">
            <div class="contenedorVideo--Texto no_visible" when-visible="a_fadein">
              <h3 class="subtitulo--subseccion h--marginTop0_6 ">¿Cómo invertir en Cartera Activa?</h3>
              <p class="normal--lectura h--paddingTop1">Un servicio de administración de cartera de Fondos Mutuos. A través de 7 alternativas para distintos perfiles
                de riesgo, gestiona hoy de forma exitosa los activos de más de 25.000 clientes. Por más de 6 años, nuestros
                clientes han confiado en este servicio, delegando tus inversiones en las manos de nuestros expertos que monitorean
                e incorporan oportunamente los cambios en los mercados.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- fin contenedorVideo -->
<!-- inicio tituloFondosCarteras -->
<section>
  <div class="ban-container " ng-controller="animateCtrl">
    <div class="card">
      <div class="ban-col-sm-12 ban-col-md-12 h--marginTop1 no_visible" when-visible="a_fadein">
        <div class="contenedor--subtitulo h--borde ">
          <h3 class="subtitulos-centrados">Selecciona una Cartera Activa</h3>
          <p class="bajada--texto">Selecciona una Cartera disponible para invertir</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- fin tituloFondosCarteras -->
<!-- inicio contenedorCarteraActiva -->
<section>
  <div class="ban-container" ng-controller="animateCtrl">
    <div class="card tablaMaster">
      <!-- carteraActiva -->
      <table fixed-header class="animated fadeInDown h--marginTop1" wt-responsive-table ng-controller="tablaFFMM">
        <thead class="tableHead--recomendado">
          <tr>
            <th></th>
            <th class="tableHead--titulo">Cartera Activa</th>
            <th>%30 días</th>
            <th>%90 días</th>
            <th>%1 año</th>
            <th>Acum. año</th>
            <th>Composición RF/RV</th>
            <th>Monto Invertido</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-class="{'tr--active': fondomut.expanded}" ng-click="fondomut.expanded = !fondomut.expanded" ng-repeat-start="fondomut in carteraActiva | orderBy : sort" class="no_visible"
            when-visible="a_fadein">
            <td class="td--iconoApertura">
              <md-button class="md-icon-button icons" ng-if="fondomut.expanded">
                <md-icon>
                  <i class="material-icons"></i>
                </md-icon>
              </md-button>
              <md-button class="md-icon-button icons" ng-if="!fondomut.expanded">
                <md-icon>
                  <i class="material-icons"></i>
                </md-icon>
              </md-button>
            </td>
            <td class="td--principal" data-title="Cartera activa">{{fondomut.producto}}</td>
            <td class="td--valores" data-title="%30 días">{{fondomut.dias}}</td>
            <td class="td--valores" data-title="%90 días">{{fondomut.dias}}</td>
            <td class="td--valores" data-title="%1 año">{{fondomut.dias}}</td>
            <td class="td--valores" data-title="Acum. año">{{fondomut.dias}}</td>
            <td class="td--valores" data-title="Composición RF/RV">
              <img src="{{fondomut.rfrv}}" class="datos--comp" />
            </td>
            <td class="td--valores" data-title="Monto Invertido">{{fondomut.monto}}</td>
            <!-- inicio iconoAperturaResponsive -->
            <td class="td--iconoAperturaResponsive">
              <md-button class="md-icon-button icons" ng-click="fondomut.expanded = false" ng-if="fondomut.expanded">
                <md-icon>
                  <i class="material-icons"></i>
                </md-icon>
              </md-button>
              <md-button class="md-icon-button icons" ng-click="fondomut.expanded = true" ng-if="!fondomut.expanded">
                <md-icon>
                  <i class="material-icons"></i>
                </md-icon>
              </md-button>
            </td>
            <!-- fin iconoAperturaResponsive -->
            <td class="td--botones--icono">
              <div class="td--botonesTransar">
                <md-button class="boton--aportar btn_accionesPublico md-raised primario" href="#cartera-activa-ingreso">Ingresar</md-button>
              </div>
            </td>
            <!-- inicio descargar -->
            <td class="td--iconos">
              <md-button class="md-icon-button" aria-label="comprobante">
                <md-icon>
                  <i class="material-icons icono--download">picture_as_pdf</i>
                </md-icon>
                <md-tooltip md-direction="bottom">Ficha técnica</md-tooltip>
              </md-button>
            </td>
            <!-- fin descargar -->
          </tr>
          <tr aria-label="Toggle ngHide" class="tr--desplegable animacionApertura" ng-if="fondomut.expanded" ng-repeat-end="">
            <td colspan="12">
              <div class="contenidoDesplegable" ng-controller="tablaFondoMutuos">
                <table class="tableContenido">
                  <tbody>
                    <tr>
                      <td colspan="12">
                        <div ng-include class="animated fadeIn" src="'detalle/detalle-cuenta-ca.html'"></div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
          <!-- carteraActiva -->
          <!-- carteraAgresiva -->
          <tr ng-class="{'tr--active': fondomut.expanded}" ng-click="fondomut.expanded = !fondomut.expanded" ng-repeat-start="fondomut in carteraActivaCuenta | orderBy : sort">
            <td class="td--iconoApertura">
              <md-button class="md-icon-button icons" ng-if="fondomut.expanded">
                <md-icon>
                  <i class="material-icons"></i>
                </md-icon>
              </md-button>
              <md-button class="md-icon-button icons" ng-if="!fondomut.expanded">
                <md-icon>
                  <i class="material-icons"></i>
                </md-icon>
              </md-button>
            </td>
            <td class="td--principal" data-title="Cartera activa">{{fondomut.producto}}
              <div class="cartera--ico" aria-label="Ya tienes este Fondo">
                <i class="material-icons icons--color icons--small">work</i>
              </div>
            </td>
            <td class="td--valores" data-title="%30 días">{{fondomut.dias}}</td>
            <td class="td--valores" data-title="%90 días">{{fondomut.dias}}</td>
            <td class="td--valores" data-title="%1 año">{{fondomut.dias}}</td>
            <td class="td--valores" data-title="Acum. año">{{fondomut.dias}}</td>
            <td class="td--valores" data-title="Composición RF/RV">
              <img src="{{fondomut.rfrv}}" class="datos--comp" />
            </td>
            <td class="td--valores" data-title="Monto Invertido">{{fondomut.monto}}</td>
            <!-- inicio iconoAperturaResponsive -->
            <td class="td--iconoAperturaResponsive">
              <md-button class="md-icon-button icons" ng-click="fondomut.expanded = false" ng-if="fondomut.expanded">
                <md-icon>
                  <i class="material-icons"></i>
                </md-icon>
              </md-button>
              <md-button class="md-icon-button icons" ng-click="fondomut.expanded = true" ng-if="!fondomut.expanded">
                <md-icon>
                  <i class="material-icons"></i>
                </md-icon>
              </md-button>
            </td>
            <!-- fin iconoAperturaResponsive -->
            <td class="td--botones--icono">
              <div class="td--botonesTransar">
                <md-button class="boton--aportar btn_accionesPublico md-raised primario" href="#cartera-activa-ingreso">Ingresar</md-button>
              </div>
            </td>
            <!-- inicio descargar -->
            <td class="td--iconos">
              <md-button class="md-icon-button" aria-label="comprobante">
                <md-icon>
                  <i class="material-icons icono--download">picture_as_pdf</i>
                </md-icon>
                <md-tooltip md-direction="bottom">Ficha técnica</md-tooltip>
              </md-button>
            </td>
            <!-- fin descargar -->
          </tr>
          <tr aria-label="Toggle ngHide" class="tr--desplegable animacionApertura" ng-if="fondomut.expanded" ng-repeat-end="">
            <td colspan="12">
              <div class="contenidoDesplegable" ng-controller="tablaFondoMutuos">
                <table class="tableContenido tableContenido__margin">
                  <tbody>
                  </tbody>
                </table>
                <table class="table tableContenido tableContenido__margin tableContenido__cuenta" wt-responsive-table>
                  <tbody>
                    <tr>
                      <td colspan="7">
                        <div ng-include class="a_fadein" src="'detalle/detalle-cuenta-ca.html'"></div>
                      </td>
                    </tr>
                    <tr class="tableContenido--detalle info--detalle" ng-repeat="fondomut in cuenta | orderBy : sort">
                      <td class="td--width">
                      </td>
                      <td class="cuenta--texto">
                        <p class="numero--cta">{{fondomut.cuenta}}</p>
                        <p> Beneficio Tributario
                          <span>57 BIS</span>
                        </p>
                      </td>
                      <td class="cuenta--texto">
                        <p> Plan de inversión
                          <span>normal</span>
                        </p>
                        <p>Monto libre de comisión
                          <span>$5.000.000</span>
                        </p>
                      </td>
                      <td class="cuenta--texto">
                        <p> Monto
                          <span>$14.601</span>
                        </p>
                        <p> Número de cuotas
                          <span>14.601,0987</span>
                        </p>
                      </td>
                      <td colspan="3" class="contenido--botones">
                        <div class="datos--botones">
                          <div class="botones--grupo">
                            <md-button md-no-ink class="boton--rescatar md-raised" href="#cartera-activa-egreso">Egresar</md-button>
                            <md-button md-no-ink class="boton--aportar md-raised" href="#cartera-activa-ingreso">Ingresar</md-button>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr class="tableContenido--detalle info--detalle">
                      <td class="td--width">
                      </td>
                      <td class="cuenta--texto">
                        <p class="numero--cta">Cuenta nueva</p>
                      </td>
                      <td class="cuenta--texto">
                      </td>
                      <td class="cuenta--texto">
                      </td>
                      <td colspan="4" class="contenido--botones">
                        <div class="datos--botones">
                          <md-button md-no-ink class="boton--aportar md-raised" href="#cartera-activa-ingreso">Ingresar</md-button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
          <!-- carteraAgresiva -->
        </tbody>
      </table>
      <div class="detalle--descripcion">
        <div class="descripcion--composicion"></div>
        <div class="descripcion--texto">
          <p> % Renta fija</p>
        </div>
        <div class="descripcion--composicion descripcion--composicion__naranja"></div>
        <div class="descripcion--texto">
          <p> % Renta variable</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- fin contenedorCarteraActiva -->
<!-- inicio tituloNoticias -->
<section>
  <div class="ban-container">
    <div class="card">
      <div class="ban-col-sm-12 ban-col-md-12 h--marginTop2">
        <div class="contenedor--subtitulo h--borde animated fadeInDown">
          <h3 class="subtitulos-centrados">Noticias relacionadas</h3>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- fin tituloNoticias -->
<!-- inicio contenedorNoticias -->
<section>
  <div class="ban-container">
    <div class="card">
      <div class="sliderNoticiasRecomendadas" ng-controller="sliderNoticiasRecomendadas">
        <ks-swiper-container class="sliderCards" override-parameters="noticiasRecomendadas" show-nav-buttons="true">
          <ks-swiper-slide>
            <div class="ban-col-md-12">
              <div class="noticiasRecomendadas h--shadowBox">
                <h4>ECONOMÍA</h4>
                <h3>Hacienda: "No es el momento apropiado"</h3>
                <p>Ministro de Hacienda afirmó que no es factible hoy poner "nuevas cargas"</p>
                <div class="pin"></div>
                <a ng-href="#noticias-destacadas" class="linkNoticias"></a>
              </div>
            </div>
          </ks-swiper-slide>
          <ks-swiper-slide>
            <div class="ban-col-md-12">
              <div class="noticiasRecomendadas h--shadowBox">
                <h4>ECONOMÍA</h4>
                <h3>Hacienda: "No es el momento apropiado" para aumentar feriados y vacaciones</h3>
                <p>Ministro de Hacienda afirmó que no es factible hoy poner "nuevas cargas" al mercado laboral y calculó en
                  US$ 15 millones el impacto fiscal anual.</p>
                <div class="pin"></div>
                <a ng-href="#noticias-destacadas" class="linkNoticias"></a>
              </div>
            </div>
          </ks-swiper-slide>
          <ks-swiper-slide>
            <div class="ban-col-md-12">
              <div class="noticiasRecomendadas h--shadowBox">
                <h4>ECONOMÍA</h4>
                <h3>Hacienda: "No es el momento apropiado" para aumentar feriados y vacaciones</h3>
                <p>Ministro de Hacienda afirmó que no es factible hoy poner "nuevas cargas" al mercado laboral y calculó en
                  US$ 15 millones el impacto fiscal anual.</p>
                <div class="pin"></div>
                <a ng-href="#noticias-destacadas" class="linkNoticias"></a>
              </div>
            </div>
          </ks-swiper-slide>
          <ks-swiper-slide>
            <div class="ban-col-md-12">
              <div class="noticiasRecomendadas h--shadowBox">
                <h4>ECONOMÍA</h4>
                <h3>Hacienda: "No es el momento apropiado" para aumentar feriados y vacaciones</h3>
                <p>Ministro de Hacienda afirmó que no es factible hoy poner "nuevas cargas" al mercado laboral y calculó en
                  US$ 15 millones el impacto fiscal anual.</p>
                <div class="pin"></div>
                <a ng-href="#noticias-destacadas" class="linkNoticias"></a>
              </div>
            </div>
          </ks-swiper-slide>
          <ks-swiper-slide>
            <div class="ban-col-md-12">
              <div class="noticiasRecomendadas h--shadowBox">
                <h4>ECONOMÍA</h4>
                <h3>Hacienda: "No es el momento apropiado" para aumentar feriados y vacaciones</h3>
                <p>Ministro de Hacienda afirmó que no es factible hoy poner "nuevas cargas" al mercado laboral y calculó en
                  US$ 15 millones el impacto fiscal anual.</p>
                <div class="pin"></div>
                <a ng-href="#noticias-destacadas" class="linkNoticias"></a>
              </div>
            </div>
          </ks-swiper-slide>
        </ks-swiper-container>
      </div>
    </div>
  </div>
</section>
<!-- fin contenedorNoticias -->
<!-- inicio contenedorCajaCliente -->
<section>
  <div class="ban-container h--marginBottom4">
    <div class="card h--paddingTop2 h--paddingBottom2 h--borderRadiusBottom4px">
      <!-- inicio cajaCliente -->
      <div class="ban-row">
        <div class="ban-col-sm-12 ban-col-md-12">
          <div class="cajasCliente">
            <div class="cajas-informacion">
              <div class="cajas--texto">
                <p>
                  Si quieres obtener información profesional o contratar este producto
                </p>
              </div>
              <div class="cajas--botones">
                <div class="ban-col-xs-10 ban-col-xs-offset-1 ban-col-md-4 ban-col-md-offset-2">
                  <md-button class="botonCliente boton--100 md-raised primario" href="#contactanos" type="button">
                    <span class="ng-scope">QUIERO SER CLIENTE</span>
                  </md-button>
                </div>
                <div class="ban-col-xs-10 ban-col-xs-offset-1 ban-col-md-4 ban-col-md-offset-0">
                  <md-button class="boton2 boton--100 md-raised primario" href="#contactanos" type="button">
                    <span class="ng-scope">QUIERO QUE ME CONTACTEN</span>
                  </md-button>
                </div>
              </div>
            </div>
            <div class="cajas--imagen">
              <img src="assets/images/HazteCliente.png" alt="Manos estrechandose ante un acuerdo">
            </div>
          </div>
        </div>
      </div>
      <!-- fin cajaCliente -->
    </div>
  </div>
</section>
<!-- fin contenedorCajaCliente -->
