<!-- Jadra 31 -->
<section>
  <div class="contenido--background invertir-persona"></div>
  <div class="ban-container">
    <div class="card h--marginTopcard h--borderRadiusTop4px" ng-controller="BuscaListadoCtrl">
      <div class="ban-row">
        <div class="ban-col-xs-12 ban-col-sm-11 ban-col-md-5 ban-col-lg-4">
          <h1 class="titulo--operacion">Moneda Extranjera</h1>
          <div class="border--titulo">
            <hr>
          </div>
        </div>
        <!-- fin buscador -->
      </div>
    </div>
  </div>
</section>
<!-- inicio contenedorPortada -->
<section>
  <div class="ban-container">
    <div class="ban-col-md-12 contenedorPortada headerMonedaExtranjera">
      <div class="contenedorPortada--filtro">
      </div>
      <div class="portada--textoPrueba">
        <div class="cuadroFlotante ban-col-lg-9 ban-col-sm-12">
          <h3 class="portada--titulo">Realiza operaciones al instante con Moneda Extranjera</h3>
        </div>
        <div class="cuadroFlotanteP ban-col-lg-8 ban-col-sm-12 ban-col-md-8">
          <p class="portada--bajada">En Banchile Inversiones nos preocupamos por ofrecer cobertura integral a nuestros clientes, es por eso que te invitamos
            a conocer nuestro servicio de Moneda Extranjera.
          </p>
        </div>
        <div class="cuadroFlotante ban-col-lg-9 ban-col-sm-12">
          <a href="#">Aprende más sobre Moneda Extranjera</a>
          <a href="#">Elige tu Moneda</a>
          <a href="#">Más asesoría sobre mis inversiones</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- fin contenedorPortada -->
<!-- contenedorBarraIndicadores -->
<section>
  <div class="contenido--carteraActva">
    <div class="ban-container">
      <div class="card">
        <div class="ban-row">
          <div class="ban-col-xs-12 ban-col-sm-12 ban-col-md-12">
            <div class="homeIndicadores animated fadeInDown">
              <div class="sliderIndicadoresHome" ng-controller="sliderIndicadoresHome">
      <!-- Swiper -->
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="contenedorIndicador">
              <div class="indicadorNombre">
                <p>Dólar Observado</p>
              </div>
              <div class="indicadorEstructura">
                <div class="indicadorDatos">
                  <p class="indicadorPrecio">$650,09</p>
                  <p class="indicadorVariacion td--valoresVerde">0,02%</p>
                </div>
                <div class="indicadorGrafico">
                  <hc-chart-cinta idgraf="1" />
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="contenedorIndicador">
              <div class="indicadorNombre">
                <p>Euro</p>
              </div>
              <div class="indicadorEstructura">
                <div class="indicadorDatos">
                  <p class="indicadorPrecio">$716,04</p>
                  <p class="indicadorVariacion td--valoresRojo">0,12%</p>
                </div>
                <div class="indicadorGrafico">
                  <hc-chart-cinta idgraf="2" />
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="contenedorIndicador">
              <div class="indicadorNombre">
                <p>IPSA</p>
              </div>
              <div class="indicadorEstructura">
                <div class="indicadorDatos">
                  <p class="indicadorPrecio">$4.138,59</p>
                  <p class="indicadorVariacion td--valoresVerde">0,99%</p>
                </div>
                <div class="indicadorGrafico">
                  <hc-chart-cinta idgraf="3" />
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="contenedorIndicador">
              <div class="indicadorNombre">
                <p>IGPA</p>
              </div>
              <div class="indicadorEstructura">
                <div class="indicadorDatos">
                  <p class="indicadorPrecio">$20.418,29</p>
                  <p class="indicadorVariacion td--valoresRojo">0,26%</p>
                </div>
                <div class="indicadorGrafico">
                  <hc-chart-cinta idgraf="1" />
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="contenedorIndicador">
              <div class="indicadorNombre">
                <p>UF</p>
              </div>
              <div class="indicadorEstructura">
                <div class="indicadorDatos">
                  <p class="indicadorPrecio">$27.598.658</p>
                  <p class="indicadorVariacion td--valoresRojo">1,1%</p>
                </div>
                <div class="indicadorGrafico">
                  <hc-chart-cinta idgraf="2" />
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="contenedorIndicador">
              <div class="indicadorNombre">
                <p>INSXS</p>
              </div>
              <div class="indicadorEstructura">
                <div class="indicadorDatos">
                  <p class="indicadorPrecio">$144,04</p>
                  <p class="indicadorVariacion td--valoresVerde">0,69%</p>
                </div>
                <div class="indicadorGrafico">
                  <hc-chart-cinta idgraf="3" />
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="contenedorIndicador">
              <div class="indicadorNombre">
                <p>IPC</p>
              </div>
              <div class="indicadorEstructura">
                <div class="indicadorDatos">
                  <p class="indicadorPrecio">0.02%</p>
                  <p class="indicadorVariacion td--valoresVerde">0,10%</p>
                </div>
                <div class="indicadorGrafico">
                  <hc-chart-cinta idgraf="1" />
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="contenedorIndicador">
              <div class="indicadorNombre">
                <p>UTM</p>
              </div>
              <div class="indicadorEstructura">
                <div class="indicadorDatos">
                  <p class="indicadorPrecio">$46,251</p>
                  <p class="indicadorVariacion td--valoresVerde">0,69%</p>
                </div>
                <div class="indicadorGrafico">
                  <!-- <img src="assets/images/indicadores-down.png" class="img-responsive"> -->
                  <hc-chart-cinta idgraf="2" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Add Scrollbar -->
        <div class="swiper-scrollbar"></div>
      </div>
    </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- fin contenedorBarraIndicadores -->
<!-- inicio tituloEVentajas -->
<section>
  <div class="ban-container">
    <div class="card">
      <div class="ban-col-sm-12 ban-col-md-12 h--marginTop2">
        <div class="contenedor--subtitulo h--borde animated fadeInDown">
          <h3 class="subtitulos-centrados">Transa desde cualquier parte del mundo con Moneda Extranjera</h3>
          <p class="bajada--texto">Una excelente alternativa de inversión de una manera fácil, cómoda y conveniente.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- fin tituloEVentajas -->
<!-- inicio contenedorVentajas -->
<section>
  <div class="ban-container">
    <div class="card">
      <div class="ban-row">
        <div class="ban-col-sm-6 ban-col-md-3">
          <div class="items--caja h--shadowBox">
            <img class="caja--icono h--marginTop1" src="assets/images/iconosDisplay/IcoDisplay_ BusinessGlobal-Transacciones.png" alt="">
            <p class="caja--subtitulo">Envía dinero hacia el extranjero</p>
            <p class="caja--texto">A través del ejecutivo de Banchile Inversiones desde la sucursal más cercana.</p>
          </div>
        </div>
        <div class="ban-col-sm-6 ban-col-md-3">
          <div class="items--caja h--shadowBox">
            <img class="caja--icono h--marginTop1" src="assets/images/iconosDisplay/icoDisplay_DivisasCambio.png" alt="">
            <p class="caja--subtitulo">Compra y vende divisas al contado</p>
            <p class="caja--texto">A través de nuestros servicios puedes transar con más de 14 monedas, las principales divisas del mercado.</p>
          </div>
        </div>
        <div class="ban-col-sm-6 ban-col-md-3">
          <div class="items--caja h--shadowBox">
            <img class="caja--icono h--marginTop1" src="assets/images/iconosDisplay/icoDisplay_MovilApp.png" alt="">
            <p class="caja--subtitulo">Compra de la manera mas cómoda</p>
            <p class="caja--texto">Compra tus dólares desde donde estés y retíralos en sucursal.</p>
          </div>
        </div>
        <div class="ban-col-sm-6 ban-col-md-3">
          <div class="items--caja h--shadowBox">
            <img class="caja--icono h--marginTop1" src="assets/images/iconosDisplay/icoDisplay_RelojDoble.png" alt="">
            <p class="caja--subtitulo">Compra y vende divisas a futuro</p>
            <p class="caja--texto">Fija el valor del tipo de cambio a un plazo determinado, a precio acordado y por un monto preestablecido.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- fin contenedorVentajas -->
<!-- inicio tituloVideo -->
<section>
  <div class="ban-container">
    <div class="card fondoSeparador">
      <div class="ban-col-sm-12 ban-col-md-12 h--marginTop1">
        <div class="contenedor--subtitulo h--borde animated fadeInDown">
          <h3 class="subtitulos-centrados">Aprende a invertir en Divisas</h3>
          <p class="bajada--texto">Te entregamos toda la información que necesitas para tomar tus decisiones de inversión</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- fin tituloVideo -->
<!-- inicio contenedorVideo -->
<section>
  <div class="ban-container">
    <div class="card fondoSeparador h--paddingBottom2">
      <div class="contenedorVideo">
        <div class="ban-row">
          <div class="ban-col-md-5">
            <div class="contenedorVideo--imagen">
                <img src="assets/images/sitio_publico/Aprende-Moneda.jpg">
            </div>
          </div>
          <div class="ban-col-md-7">
            <div class="contenedorVideo--Texto">
              <h3 class="subtitulo--subseccion h--marginTop0_6">Servicios de compra y venta de divisas</h3>
              <p class="normal--lectura h--paddingTop1">A través nuestro servicios, puedes realizar transacciones con dólares y otras monedas, obteniendo una gestión
                rápida y segura en todas las operaciones.
                </br>
                </br>
                Puedes transar con más de 14 monedas, en las cuales se encuentran las principales divisas de los mercados desarrollados y
                mercados emergentes. Transar con la compra de dolares estés donde estés y retirarlos en sucursal.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- fin contenedorVideo -->
<!-- inicio tituloParidades -->
<section>
  <div class="ban-container animated fadeInDown">
    <div class="card">
      <div class="ban-col-sm-12 ban-col-md-12 h--marginTop2">
        <div class="contenedor--subtitulo h--borde animated fadeInDown">
          <h3 class="subtitulos-centrados">Principales paridades</h3>
          <p class="bajada--texto">Puedes usar nuestras herramientas para hacer análisis de estos índices</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- fin tituloParidades -->
<!-- contenedorParidades -->
<section>
  <div class="ban-container contenido--fondosmutuos  animated fadeInDown">
    <div class="card tablaMaster">
      <!-- inicio monedaParidades -->
      <table fixed-header class="animated fadeInDown" wt-responsive-table ng-controller="tablaFFMM">
        <thead class="tableHead--recomendado">
          <tr>
            <th></th>
            <th class="tableHead--titulo">Moneda</th>
            <th>Paridad</th>
            <th>Var(%)</th>
            <th>Hora</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <!-- inicio monedaPrincipal -->
        <tbody>
          <tr ng-class="{'tr--active': fondomut.expanded}" ng-click="fondomut.expanded = !fondomut.expanded" ng-repeat-start="fondomut in monedaExtPrincipales | orderBy : sort">
            <td class="td--iconoApertura">
              <md-button class="md-icon-button icons" ng-if="fondomut.expanded">
                <md-icon>
                  <i class="material-icons"></i>
                </md-icon>
              </md-button>
              <md-button class="md-icon-button icons" ng-if="!fondomut.expanded">
                <md-icon>
                  <i class="material-icons"></i>
                </md-icon>
              </md-button>
            </td>
            <td class="td--principal td--auto" data-title="Fondo Mutuo">{{fondomut.moneda}}
              <div class="icono--estado">
                <i class="material-icons icons--small">&#xE003;</i>
                <i class="material-icons icons--small">&#xE83A;</i>
              </div>
            </td>
            <td class="td--valores" data-title="%30 días">{{fondomut.paridad}}</td>
            <td class="td--valores" ng-class="indicador(fondomut.variacion)" data-title="Variación %">
              <i class="material-icons td--valoresTendencia" ng-if="fondomut.tendencia == 'B'">&#xE5C5;</i>
              <i class="material-icons td--valoresTendencia" ng-if="fondomut.tendencia == 'S'">&#xE5C7;</i>
              <div class="td--valoresVariacion">{{fondomut.variacion}}%</div>
            </td>
            <td class="td--valores" data-title="Nº cuotas">{{fondomut.hora}}</td>
            <!-- inicio iconoAperturaResponsive -->
            <td class="td--iconoAperturaResponsive">
              <md-button class="md-icon-button icons" ng-click="fondomut.expanded = false" ng-if="fondomut.expanded">
                <md-icon>
                  <i class="material-icons"></i>
                </md-icon>
              </md-button>
              <md-button class="md-icon-button icons" ng-click="fondomut.expanded = true" ng-if="!fondomut.expanded">
                <md-icon>
                  <i class="material-icons"></i>
                </md-icon>
              </md-button>
            </td>
            <!-- fin iconoAperturaResponsive -->
            <td class="td--botones">
              <div class="td--botonesTransar">
                <md-button class="boton--aportar btn_accionesPublico md-raised primario" href="#moneda-compra">Comprar</md-button>
              </div>
            </td>
            <!-- inicio menuContextual -->
            <td class="td--iconos">
              <div class="menuContextual" ng-controller="menuContextual as ctrl" ng-cloak>
                <md-menu>
                  <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="ctrl.openMenu($mdOpenMenu, $event)">
                    <md-icon>
                      <i class="material-icons">more_vert</i>
                    </md-icon>
                  </md-button>
                  <md-menu-content width="2">
                    <md-menu-item>
                      <md-button>
                        <md-icon>
                          <i class="material-icons icons--color">&#xE915;</i>
                        </md-icon>
                        Comparar Acción
                      </md-button>
                    </md-menu-item>
                    <md-menu-item>
                      <md-button>
                        <md-icon>
                          <i class="material-icons icons--color">&#xE003;</i>
                        </md-icon>
                        Agregar alerta
                      </md-button>
                    </md-menu-item>
                    <md-menu-item>
                      <md-button>
                        <md-icon>
                          <i class="material-icons icons--color">&#xE83A;</i>
                        </md-icon>
                        Agregar a favoritos
                      </md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
              </div>
            </td>
            <!-- fin menuContextual -->
          </tr>
          <tr aria-label="Toggle ngHide" class="tr--desplegable animacionApertura" ng-if="fondomut.expanded" ng-repeat-end="">
            <td colspan="12">
              <div class="contenidoDesplegable" ng-controller="tablaFondoMutuos">
                <table class="tableContenido">
                  <tbody>
                    <tr>
                      <td colspan="7">
                        <div ng-include class="animated fadeIn" src="'detalle/detalle-cuenta-moneda.html'"></div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </tbody>
        <!-- fin monedaPrincipal -->
        <!-- inicio monedaSecundario -->
        <tbody>
          <tr ng-class="{'tr--active': fondomut.expanded}" ng-click="fondomut.expanded = !fondomut.expanded" ng-repeat-start="fondomut in monedaExtSecundarias | orderBy : sort">
            <td class="td--iconoApertura">
              <md-button class="md-icon-button icons" ng-if="fondomut.expanded">
                <md-icon>
                  <i class="material-icons"></i>
                </md-icon>
              </md-button>
              <md-button class="md-icon-button icons" ng-if="!fondomut.expanded">
                <md-icon>
                  <i class="material-icons"></i>
                </md-icon>
              </md-button>
            </td>
            <td class="td--principal td--auto" data-title="Fondo Mutuo">{{fondomut.moneda}}</td>
            <td class="td--valores" data-title="%30 días">{{fondomut.paridad}}</td>
            <td class="td--valores" ng-class="indicador(fondomut.variacion)" data-title="Variación %">
              <i class="material-icons td--valoresTendencia" ng-if="fondomut.tendencia == 'B'">&#xE5C5;</i>
              <i class="material-icons td--valoresTendencia" ng-if="fondomut.tendencia == 'S'">&#xE5C7;</i>
              <div class="td--valoresVariacion">{{fondomut.variacion}}%</div>
            </td>
            <td class="td--valores" data-title="Nº cuotas">{{fondomut.hora}}</td>
            <td></td>
            <!-- inicio menuContextual -->
            <td class="td--iconos">
              <div class="menuContextual" ng-controller="menuContextual as ctrl" ng-cloak>
                <md-menu>
                  <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="ctrl.openMenu($mdOpenMenu, $event)">
                    <md-icon>
                      <i class="material-icons">more_vert</i>
                    </md-icon>
                  </md-button>
                  <md-menu-content width="2">
                    <md-menu-item>
                      <md-button>
                        <md-icon>
                          <i class="material-icons icons--color">&#xE915;</i>
                        </md-icon>
                        Comparar Acción
                      </md-button>
                    </md-menu-item>
                    <md-menu-item>
                      <md-button>
                        <md-icon>
                          <i class="material-icons icons--color">&#xE003;</i>
                        </md-icon>
                        Agregar alerta
                      </md-button>
                    </md-menu-item>
                    <md-menu-item>
                      <md-button>
                        <md-icon>
                          <i class="material-icons icons--color">&#xE83A;</i>
                        </md-icon>
                        Agregar a favoritos
                      </md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
              </div>
            </td>
            <!-- fin menuContextual -->
          </tr>
          <tr aria-label="Toggle ngHide" class="tr--desplegable animacionApertura" ng-if="fondomut.expanded" ng-repeat-end="">
            <td colspan="12">
              <div class="contenidoDesplegable" ng-controller="tablaFondoMutuos">
                <table class="tableContenido">
                  <tbody>
                    <tr>
                      <td colspan="7">
                        <div ng-include class="animated fadeIn" src="'detalle/detalle-cuenta-moneda.html'"></div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </tbody>
        <!-- fin monedaSecundario -->
      </table>
      <!-- fin monedaParidades -->
    </div>
  </div>
</section>
<!-- fin contenedorParidades -->
<!-- inicio tituloNoticias -->
<section>
  <div class="ban-container">
    <div class="card">
      <div class="ban-col-sm-12 ban-col-md-12 h--marginTop2">
        <div class="contenedor--subtitulo h--borde animated fadeInDown">
          <h3 class="subtitulos-centrados">Noticias relacionadas</h3>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- inicio tituloNoticias -->
<!-- inicio contenedorNoticias -->
<section>
  <div class="ban-container">
    <div class="card">
      <div class="sliderNoticiasRecomendadas" ng-controller="sliderNoticiasRecomendadas">
        <ks-swiper-container class="sliderCards" override-parameters="noticiasRecomendadas" show-nav-buttons="true">
          <ks-swiper-slide>
            <div class="ban-col-md-12">
              <div class="noticiasRecomendadas h--shadowBox">
                <h4>ECONOMÍA</h4>
                <h3>Hacienda: "No es el momento apropiado"</h3>
                <p>Ministro de Hacienda afirmó que no es factible hoy poner "nuevas cargas"</p>
                <div class="pin"></div>
                <a ng-href="#noticias-destacadas" class="linkNoticias"></a>
              </div>
            </div>
          </ks-swiper-slide>
          <ks-swiper-slide>
            <div class="ban-col-md-12">
              <div class="noticiasRecomendadas h--shadowBox">
                <h4>ECONOMÍA</h4>
                <h3>Hacienda: "No es el momento apropiado" para aumentar feriados y vacaciones</h3>
                <p>Ministro de Hacienda afirmó que no es factible hoy poner "nuevas cargas" al mercado laboral y calculó en
                  US$ 15 millones el impacto fiscal anual.</p>
                <div class="pin"></div>
                <a ng-href="#noticias-destacadas" class="linkNoticias"></a>
              </div>
            </div>
          </ks-swiper-slide>
          <ks-swiper-slide>
            <div class="ban-col-md-12">
              <div class="noticiasRecomendadas h--shadowBox">
                <h4>ECONOMÍA</h4>
                <h3>Hacienda: "No es el momento apropiado" para aumentar feriados y vacaciones</h3>
                <p>Ministro de Hacienda afirmó que no es factible hoy poner "nuevas cargas" al mercado laboral y calculó en
                  US$ 15 millones el impacto fiscal anual.</p>
                <div class="pin"></div>
                <a ng-href="#noticias-destacadas" class="linkNoticias"></a>
              </div>
            </div>
          </ks-swiper-slide>
          <ks-swiper-slide>
            <div class="ban-col-md-12">
              <div class="noticiasRecomendadas h--shadowBox">
                <h4>ECONOMÍA</h4>
                <h3>Hacienda: "No es el momento apropiado" para aumentar feriados y vacaciones</h3>
                <p>Ministro de Hacienda afirmó que no es factible hoy poner "nuevas cargas" al mercado laboral y calculó en
                  US$ 15 millones el impacto fiscal anual.</p>
                <div class="pin"></div>
                <a ng-href="#noticias-destacadas" class="linkNoticias"></a>
              </div>
            </div>
          </ks-swiper-slide>
          <ks-swiper-slide>
            <div class="ban-col-md-12">
              <div class="noticiasRecomendadas h--shadowBox">
                <h4>ECONOMÍA</h4>
                <h3>Hacienda: "No es el momento apropiado" para aumentar feriados y vacaciones</h3>
                <p>Ministro de Hacienda afirmó que no es factible hoy poner "nuevas cargas" al mercado laboral y calculó en
                  US$ 15 millones el impacto fiscal anual.</p>
                <div class="pin"></div>
                <a ng-href="#noticias-destacadas" class="linkNoticias"></a>
              </div>
            </div>
          </ks-swiper-slide>
        </ks-swiper-container>
      </div>
    </div>
  </div>
</section>
<!-- fin contenedorNoticias -->
<!-- inicio contenedorCajaCliente -->
<section>
  <div class="ban-container h--marginBottom4">
    <div class="card h--paddingTop2 h--paddingBottom2 h--borderRadiusBottom4px">
      <!-- inicio cajaCliente -->
      <div class="ban-row">
        <div class="ban-col-sm-12 ban-col-md-12">
          <div class="cajasCliente">
            <div class="cajas-informacion">
              <div class="cajas--texto">
                <p>
                  Si quieres obtener información profesional o contratar este producto
                </p>
              </div>
              <div class="cajas--botones">
                <div class="ban-col-xs-10 ban-col-xs-offset-1 ban-col-md-4 ban-col-md-offset-2">
                  <md-button class="botonCliente boton--100 md-raised primario" href="#contactanos" type="button">
                    <span class="ng-scope">QUIERO SER CLIENTE</span>
                  </md-button>
                </div>
                <div class="ban-col-xs-10 ban-col-xs-offset-1 ban-col-md-4 ban-col-md-offset-0">
                  <md-button class="boton2 boton--100 md-raised primario" href="#contactanos" type="button">
                    <span class="ng-scope">QUIERO QUE ME CONTACTEN</span>
                  </md-button>
                </div>
              </div>
            </div>
            <div class="cajas--imagen">
              <img src="assets/images/HazteCliente.png" alt="Manos estrechandose ante un acuerdo">
            </div>
          </div>
        </div>
      </div>
      <!-- fin cajaCliente -->
    </div>
  </div>
</section>
<!-- fin contenedorCajaCliente -->
