<section>
  <div class="bg_content persona-actualizacion "></div>
  <div class="ban-container">
    <div class="card h--borderRadiusTop4px">
      <div class="ban-row " >
        <div class="ban-col-xs-12 ban-col-sm-12 ban-col-md-12">
          <h1 class="titulo--operacion h--alignCenter a_fadeup1  ">Registro de cliente</h1>
        </div>
        <div class="ban-col-md-12">
           <div class="barraProgress">
             <md-progress-linear md-mode="determinate" ng-value="100" class="barraProgress--linea"></md-progress-linear>
             <div class="checkActualizacion">
               <div class="check-active"> <i class="material-icons">&#xE86C;</i></div>
               <h2 class="check--title">Datos iniciales</h2>
             </div>
             <div class="checkActualizacion">
               <div class="check-active"> <i class="material-icons">&#xE86C;</i></div>
               <h2 class="check--title">Datos de contacto</h2>
             </div>
             <div class="checkActualizacion">
               <div class="check-active"> <i class="material-icons">&#xE86C;</i></div>
               <h2 class="check--title">Datos para invertir</h2>
             </div>
             <div class="checkActualizacion">
               <div class="check--numero ">4</div>
               <h2 class="check--title">Asesoría</h2>
             </div>
           </div>
         </div>
      </div>
    </div>
  </div>
</section>
<section ng-controller="ActualizacionController">
  <div class="ban-container">
    <form name="empresaForm">
      <!--BARRA PROGRESO DE DATOS-->
      <div class="card h--marginBottom6 h--borderRadiusBottom4px">
         <div class="ban-row">
            <div class="ban-col-md-12">
                <div class="contenedor--subtitulo subtitulos__usuarios  a_fadeup1  ">
                  <h3 class="subtitulo "> <span class="subtitulo__icono--amarillo">
                      <md-icon><i class="material-icons">arrow_downward</i></md-icon></span> Marco de actuación personal </h3>
               </div>
            </div>
         </div>
         <div class="contenedorDatos operacion--seleccion a_fadein">
           <div class="contenedor--perfil">
             <div class="ban-row h--alingCenter2">
                <div class="ban-col-sm-12 ban-col-md-8 ban-col-md-offset-2">
                   <h4 class="seleccion__subtitulo">¿Quieres calcular tu marco de actuación?</h4>
                    <p class="infoUser--pregunta ">Para calcular tu marco de actuación es necesario que contestes esta breve encuesta</p>
                     <div class="boton--width">
                       <md-button class="boton--perfil md-raised" href="#encuesta-inversionista">Contestar encuesta</md-button>
                     </div>
                </div>
                <!-- <div class="ban-col-sm-12 ban-col-md-12 h--alingCenter2">
                   <h4 class="seleccion__subtitulo">¿Quieres calcular tu marco de actuación?</h4>
                   <p class="infoUser--pregunta ">Banchile puede ayudarte asignandote un perfil que se adapte a tus objetivos de inversión</p>
                 <div class="boton--width">
                   <md-button class="boton--perfil md-raised" href="#encuesta-inversionista">Contestar encuesta</md-button>
                 </div>
               </div> -->
             </div>
           </div>
         </div>
      <!--PRODUCTOS PARA INVERTIR-->
     <div class="contenedor--subtitulo subtitulos__usuarios h--marginTop2 a_fadeup1 ">
       <div class="ban-row">
          <div class="ban-col-xs-12 ban-col-sm-9 ban-col-md-9"  ng-click="toggleClick(1)">
                <h3 class="subtitulo ">
                   <span class="subtitulo__icono--amarillo">
                    <md-icon><i class="material-icons">arrow_downward</i></md-icon>
                  </span>Productos para invertir
                </h3>
          </div>
         </div>
       </div>
       <div ng-show="show[1]" >
        <div class="contenedorDatos a_fadein" ng-controller="agregarOtro">
          <div class="contenedor--perfil">
            <div class="ban-row h--paddingL">
              <div class="ban-col-sm-12 ban-col-md-4">
                <div class="perfil--titulo">
                  <p>Tu perfil de inversionista calculado es</p>
                </div>
                <div class="perfil--contenido">
                  <div class="contenido--marco">
                    <img src="assets/images/nivel-productos.png" alt="">
                    <div class="marco--info">
                      <p class="calculado--title">Nivel de Productos 5</p>
                    </div>
                    <md-tooltip class="productos--tooltip">Este Nivel de Producto es asignado por Banchile Inversiones de acuerdo a tu perfil de cliente y a la sotisficación de los productos y servicios ofrecidos. Banchile podrás modificar en el futuro los productos que se asocian al perfil.
                      </md-tooltip>
                  </div>
                </div>
              </div>
              <div class="ban-col-sm-12 ban-col-md-8">
                <div class="perfil--titulo">
                  <p>Productos en los que quieres invertir</p>
                </div>
                <div class="ban-row h--paddingL">
                  <div class="ban-col-sm-6 ban-col-md-4">
                    <md-checkbox md-no-ink aria-label="Checkbox" ng-model="Moneda" class="md-primary perfil--check">
                      Moneda Extranjera
                    </md-checkbox>
                  </div>
                  <div class="ban-col-sm-6 ban-col-md-4">
                    <md-checkbox md-no-ink aria-label="Checkbox" ng-model="Acciones" class="md-primary perfil--check">
                      Acciones Nacionales
                    </md-checkbox>
                  </div>
                  <div class="ban-col-sm-6 ban-col-md-4">
                    <md-checkbox md-no-ink aria-label="Checkbox" ng-model="invertirPactos" class="md-primary perfil--check">
                      Pactos
                    </md-checkbox>
                  </div>
                  <div class="ban-col-sm-6 ban-col-md-4">
                    <md-checkbox md-no-ink aria-label="Checkbox" ng-model="Fondos" class="md-primary perfil--check">
                      Fondos Mutuos
                    </md-checkbox>
                  </div>
                  <div class="ban-col-sm-6 ban-col-md-4">
                    <md-checkbox md-no-ink aria-label="Checkbox" ng-model="Cartera" class="md-primary perfil--check">
                      Cartera Activa
                    </md-checkbox>
                  </div>
                  <div class="ban-col-sm-6 ban-col-md-4">
                    <md-checkbox md-no-ink aria-label="Checkbox" ng-model="Prestamo" class="md-primary perfil--check">
                      Préstamo de Acciones
                    </md-checkbox>
                  </div>
                  <div class="ban-col-sm-6 ban-col-md-4">
                    <md-checkbox md-no-ink aria-label="Checkbox" ng-model="Mercado" class="md-primary perfil--check">
                      Mercado de Valores Extranjeros
                    </md-checkbox>
                  </div>
                </div>
              </div>
              <div ng-show="invertirPactos" class="h--paddingBottom2">
                  <div ng-repeat="item in items">
                    <div class="ban-row a_fadein ">
                      <div class="contenedor--subtitulo subtitulos__usuarios sub__padding">
                       <div class="ban-row">
                        <div class="ban-col-xs-7 ban-col-sm-9 ban-col-md-10">
                           <h3 class="subtitulo">
                             <span class="subtitulo__icono--amarillo">
                              <md-icon><i class="material-icons">arrow_downward</i></md-icon>
                           </span> Confirmantes Pactos
                           </h3>
                        </div>
                        <div class="ban-col-xs-5 ban-col-sm-3 ban-col-md-2 h--alignRight">
                           <div class="subtitulo--boton">
                             <div>
                              <md-button class="md-icon-button boton--agregar" ng-click="add()" ng-if="$last">
                                 <md-icon class="boton--agregar--icon">
                                  <i class="material-icons boton--agregar--plus">add</i>
                                  <md-tooltip>Agregar otro </md-tooltip>
                                 </md-icon>
                              </md-button>
                              <md-button class="md-icon-button boton--agregar" aria-label="eliminar" ng-click="remove($index)">
                                 <md-icon>
                                  <i class="material-icons boton--color">&#xE872;</i>
                                 </md-icon>
                                 <md-tooltip>
                                  Eliminar
                                 </md-tooltip>
                              </md-button>
                             </div>
                           </div>
                        </div>
                       </div>
                     </div>
                    </div>
                    <div class="ban-row  a_fadein">
                      <div class="ban-col-sm-12 ban-col-md-12">
                      <div class="ban-col-sm-6 ban-col-md-3">
                        <md-input-container class="input--dropdowns">
                          <label>Rut</label>
                          <input required md-no-asterisk name="rut" ng-model="rut.nombre">
                          <div ng-messages="empresaForm.nombre.$error">
                            <div ng-message="required">Este campo es obligatorio.</div>
                          </div>
                        </md-input-container>
                      </div>
                      <div class="ban-col-sm-6 ban-col-md-3">
                        <md-input-container class="input--dropdowns">
                          <label>Nombres</label>
                          <input required md-no-asterisk name="nombres" ng-model="nombres.nombre">
                          <div ng-messages="empresaForm.nombre.$error">
                            <div ng-message="required">Este campo es obligatorio.</div>
                          </div>
                        </md-input-container>
                      </div>
                      <div class="ban-col-sm-6 ban-col-md-3">
                        <md-input-container class="input--dropdowns">
                          <label>Apellido Paterno</label>
                          <input required md-no-asterisk name="Paternoo" ng-model="Paternoo.nombre">
                          <div ng-messages="empresaForm.nombre.$error">
                            <div ng-message="required">Este campo es obligatorio.</div>
                          </div>
                        </md-input-container>
                      </div>
                      <div class="ban-col-sm-6 ban-col-md-3">
                        <md-input-container class="input--dropdowns">
                          <label>Apellido Materno</label>
                          <input required md-no-asterisk name="pellido" ng-model="apellido.nombre">
                          <div ng-messages="empresaForm.nombre.$error">
                            <div ng-message="required">Este campo es obligatorio.</div>
                          </div>
                        </md-input-container>
                      </div>
                      <div class="ban-col-sm-6 ban-col-md-3">
                        <md-input-container class="input--dropdowns">
                          <label>Cargo</label>
                          <input required md-no-asterisk name="cargo" ng-model="cargo.nombre">
                          <div ng-messages="empresaForm.nombre.$error">
                            <div ng-message="required">Este campo es obligatorio.</div>
                          </div>
                        </md-input-container>
                      </div>
                      <div class="ban-col-sm-6 ban-col-md-3">
                        <md-input-container class="input--dropdowns">
                          <label>Email</label>
                          <input required md-no-asterisk name="email" ng-model="email.nombre">
                          <div ng-messages="empresaForm.nombre.$error">
                            <div ng-message="required">Este campo es obligatorio.</div>
                          </div>
                        </md-input-container>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="ban-col-sm-12 ban-col-md-12">
                <div class="perfil--titulo">
                  <p>Tipo de orden para instruir tus inversiones</p>
                </div>
              </div>
              <div class="ban-col-sm-6 ban-col-md-3 h--paddingL">
                <md-input-container class="input--dropdowns h--marginTopinput">
                  <label>Clase de Acciones</label>
                  <md-select name="Acciones" ng-model="Acciones">
                    <md-option value="1">Escrita y verbal</md-option>
                  </md-select>
                </md-input-container>
              </div>
              <div class="ban-col-sm-6 ban-col-md-3 h--paddingL">
                <md-input-container class="input--dropdowns h--marginTopinput">
                  <label>Préstamos Acciones</label>
                  <md-select name="Acciones" ng-model="Acciones">
                    <md-option value="2">Verbales con confirmación</md-option>
                  </md-select>
                </md-input-container>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--SUSCRIPCIONES Y ENVIOS-->
      <div class="contenedor--subtitulo subtitulos__usuarios h--marginTop2 a_fadeup1">
       <div class="ban-row">
          <div class="ban-col-xs-9 ban-col-sm-9 ban-col-md-9"  ng-click="toggleClick(2)">
                <h3 class="subtitulo ">
                   <span class="subtitulo__icono--amarillo">
                    <md-icon><i class="material-icons">arrow_downward</i></md-icon>
                  </span>Suscripciones y envíos
                </h3>
          </div>
         </div>
       </div>
       <div ng-show="show[2]" >
        <div class="contenedorDatos a_fadein">
          <div class="contenedor--perfil">
            <div class="ban-row h--paddingL">
              <div class="ban-col-sm-12 ban-col-md-4">
                <div class="perfil--titulo__check h--paddingBottom1">
                  <p>¿Quieres suscribirte a los informes?</p>
                </div>
                <md-radio-group ng-model="data.group1" class="perfil--select">
                  <md-radio-button value="si" class="md-primary">Si</md-radio-button>
                  <md-radio-button value="no" class="md-primary"> No</md-radio-button>
                </md-radio-group>
              </div>
              <div class="ban-col-sm-12 ban-col-md-8">
                <div class="perfil--titulo__check h--paddingBottom1">
                  <p>Informes que quieres recibir</p>
                </div>
                <div class="ban-row  h--paddingL">
                  <div class="ban-col-sm-6 ban-col-md-4">
                    <md-checkbox md-no-ink aria-label="Checkbox" ng-model="informe" class="md-primary perfil--check">
                      Informe Diario
                    </md-checkbox>
                  </div>
                  <div class="ban-col-sm-6 ban-col-md-4">
                    <md-checkbox md-no-ink aria-label="Checkbox" ng-model="estrategia" class="md-primary perfil--check">
                      Informes de Estrategia
                    </md-checkbox>
                  </div>
                  <div class="ban-col-sm-6 ban-col-md-4">
                    <md-checkbox md-no-ink aria-label="Checkbox" ng-model="semanal" class="md-primary perfil--check">
                      Informe Semanal
                    </md-checkbox>
                  </div>
                  <div class="ban-col-sm-6 ban-col-md-4">
                    <md-checkbox md-no-ink aria-label="Checkbox" ng-model="economia" class="md-primary perfil--check">
                      Informes de Economía
                    </md-checkbox>
                  </div>
                  <div class="ban-col-sm-6 ban-col-md-4">
                    <md-checkbox md-no-ink aria-label="Checkbox" ng-model="empresas" class="md-primary perfil--check">
                      Informe de Empresas
                    </md-checkbox>
                  </div>
                  <div class="ban-col-sm-6 ban-col-md-4">
                    <md-checkbox md-no-ink aria-label="Checkbox" ng-model="citi" class="md-primary perfil--check">
                      Banchile Citi
                    </md-checkbox>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

        <!--botones-->
        <div class="ban-row h--marginTop1">
          <div class="ban-col-xs-12 ban-col-sm-12 ban-col-md-12">
               <div class="contenedor--botones h--alignRight" ng-controller="modalesCrtl">
                  <md-button href="#actualizacion-datos-3" class="boton2 md-raised">Anterior</md-button>
                  <md-button ng-click="showDatosRegistrados($event)" class="boton1 md-raised primario">Siguiente</md-button>
               </div>
          </div>
        </div>
        <!--botones-->

       </div>
    </form>
  </div>
</section>
