<section>
  <div class="bg_content persona-actualizacion "></div>
  <div class="ban-container">
    <div class="card h--bgnegro h--borderRadiusTop4px">
      <div class="ban-row animated fadeInDown ">
         <div class="ban-col-xs-12 ban-col-sm-12 ban-col-md-12">
          <h1 class="titulo--operacion titulo--encuesta  ">Encuesta del Inversionista</h1>
        </div>
        <div class="ban-col-md-12">
           <div class="barraProgress">
              <md-progress-linear md-mode="determinate" ng-value="63" class="barraProgress--linea  encuestaBarra"></md-progress-linear>
              <div class="checkActualizacion">
                 <div class="check-active"><i class="material-icons encuesta--check">&#xE86C;</i></div>
                 <h2 class="check--title h--pasosucces">Experiencia</h2>
              </div>
              <div class="checkActualizacion">
                <div class="check-active"><i class="material-icons encuesta--check">&#xE86C;</i></div>
                 <h2 class="check--title h--pasosucces">Ahorro</h2>
              </div>
              <div class="checkActualizacion">
               <div class="check--numero encuesta--numero">3</div>
                <h2 class="check--title h--pasosactive">Horizonte</h2>
              </div>
              <div class="checkActualizacion pasos__inactive">
                 <div class="check--numero check__inactive encuesta--numero">4</div>
                 <h2 class="check--title check__inactive">Liquidez</h2>
              </div>
              <div class="checkActualizacion pasos__inactive">
                 <div class="check--numero check__inactive encuesta--numero">5</div>
                 <h2 class="check--title check__inactive">Riesgo</h2>
              </div>
              </div>
           </div>
         </div>
      </div>
    </div>
  </div>
</section>
<section ng-cloak>
    <div class="ban-container">
        <div class="card--misDatos h--marginBottom6 ">
            <div class="contenedorDatos animated fadeInDown ">
                <div class="contenedor--preguntas" ng-controller="active--bloque01">
                    <h2 class="preguntas--titulo">¿Cuánto tiempo esperas mantener tus inversiones?</h2>
                       <div class="preguntas--rango">
                         <rzslider rz-slider-model="slider2.value"
                             rz-slider-options="slider2.options">
                          </rzslider>
                       </div>     
                    <h2 class="preguntas--titulo">¿Qué escenario se adecúa mejor a tu objetivo de inversión?</h2>
                    <md-button class="md-raised contenedor--boton" ng-class="{blue: selected==9}" ng-click="changeIndex(9)">
                        <img class="boton--img " src="./assets/images/svg/liquidez.svg" alt="">
                        <p class="boton--texto ">Liquidez</p>
                    </md-button>
                    <md-button class="md-raised contenedor--boton" ng-class="{blue: selected==10}" ng-click="changeIndex(10)">
                        <img class="boton--img" src="./assets/images/svg/estabilidad.svg" alt="">
                        <p class="boton--texto ">Estabilidad</p>
                    </md-button>
                    <md-button class="md-raised contenedor--boton" ng-class="{blue: selected==11}" ng-click="changeIndex(11)">
                        <img class="boton--img" src="./assets/images/svg/volatilidades.svg" alt="">
                        <p class="boton--texto ">Alguna volatilidad</p>
                    </md-button>
                    <md-button class="md-raised contenedor--boton" ng-class="{blue: selected==12}" ng-click="changeIndex(12)">
                        <img class="boton--img " src="./assets/images/svg/fluctuacionesaltas.svg" alt="">
                        <p class="boton--texto ">Grandes fluctuaciones</p>
                    </md-button>

                </div>
            </div>
            <!--botones-->
           <div class="ban-row h--marginTop1">
              <div class="ban-col-xs-12 ban-col-sm-12 ban-col-md-12">
                 <div class="contenedor--botones h--alignRight" ng-controller="modalesCrtl">
                      <md-button href="#encuesta-inversionista-2" class="boton2 md-raised">Anterior</md-button>
                      <md-button href="#encuesta-inversionista-4" class="boton1 md-raised primario">Siguiente</md-button>
                 </div>
              </div>
           </div>
           <!--botones-->
        </div>
    </div>

</section>
