<!-- nuevo header menu mejorado jorge 10-11 -->
<header>
  <div hl-sticky="">
    <nav id="navegacionPublica">
      <div class="ban-container-fluid">
        <div class="ban-row">
          <div class="ban-col-md-12">
            <div class="menu--sitios">
              <div class="ban-row">
                <div class="ban-col-md-12 ocultarIcono">
                  <ul class=" h--marginRight2">
                    <li><a class="activo" href="home-persona.html">Personas</a></li>
                    <li><a href="home-empresa.html">Empresas</a></li>
                  </ul>
                </div>
              </div>
              <!-- inicio desplegable indicador -->
              <div class="ban-col-md-12">
                <div class="menuFondo publico navMenu" ng-show="indicadores">
                  <md-menu-content id="indicadoreContenedorE" ng-mouseleave="indicadores = false">
                    <div class="ban-row">
                      <div class="ban-col-xs-12 ban-col-sm-5 ban-col-md-3 ban-col-lg-3 navMenu--imagen hide-xs">
                        <div class="navMenu--imagen imagen--indicadores">
                          <h3 class="navMenu--titulo"> Indicadores</h3>
                          <hr width="15%">
                          <p class="navMenu--texto">Puedes definir los indicadores favoritos disponibles en todo momento de la navegación. </p>
                        </div>
                        <!-- graficos highchart desplegados  -->
                        <div class="grafico--indicadores ng-hide a_fadein05" alt="" ng-show="qty == 0">
                          <div class="ban-row">
                            <div class="ban-col-xs-12">
                              <div ng-controller="graficosLineal-01">
                                <div id="grafico-01">Placeholder for chart</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="grafico--indicadores ng-hide a_fadein05" alt="" ng-show="qty == 1">
                          <div class="ban-row">
                            <div class="ban-col-xs-12">
                              <div ng-controller="graficosLineal-02">
                                <div id="grafico-02">Placeholder for chart</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="grafico--indicadores ng-hide a_fadein05" alt="" ng-show="qty == 2">
                          <div class="ban-row">
                            <div class="ban-col-xs-12">
                              <div ng-controller="graficosLineal-03">
                                <div id="grafico-03">Placeholder for chart</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="grafico--indicadores ng-hide a_fadein05" alt="" ng-show="qty == 3">
                          <div class="ban-row">
                            <div class="ban-col-xs-12">
                              <div ng-controller="graficosLineal-04">
                                <div id="grafico-04">Placeholder for chart</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="grafico--indicadores ng-hide a_fadein05" alt="" ng-show="qty == 4">
                          <div class="ban-row">
                            <div class="ban-col-xs-12">
                              <div ng-controller="graficosLineal-05">
                                <div id="grafico-05">Placeholder for chart</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!--Fin graficos highchart desplegados  -->
                      </div>
                      <div class="ban-col-xs-12 ban-col-sm-7 ban-col-md-9 ban-col-lg-9 navMenu--contenido">
                        <div class="ban-row h--bordeParrafo">
                          <!-- <div class="ban-col-md-1 hide-sm h--padding0"></div> -->
                          <div class=" ban-col-xs-6 ban-col-sm-6 ban-col-md-2 ban-col-lg-2 h--padding0 indicadores--L" ng-click="qty = 0">
                            <div class="indicadores--contenedor">
                              <div class="md-list-item-text indicadores--contenedorCategoria indicadores--IND">
                                <div class="indicadores--categoria">
                                  <h3>Mercado</h3>
                                  <h4>IPSA</h4>
                                  <p>4.581,33</p>
                                </div>
                                <div class="indicadores--porcentaje negativo">
                                  <p>-0,89%</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="ban-col-xs-6 ban-col-sm-6 ban-col-md-2 ban-col-lg-2 h--padding0 indicadores--L" ng-click="qty = 1">
                            <div class="indicadores--contenedor">
                              <div class="md-list-item-text indicadores--contenedorCategoria indicadores--FIN">
                                <div class="indicadores--categoria">
                                  <h3>Indices</h3>
                                  <h4>UF</h4>
                                  <p>426.446,33</p>
                                </div>
                                <div class="indicadores--porcentaje positivo">
                                  <p>+0,89%</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="ban-col-xs-6 ban-col-sm-6 ban-col-md-2 ban-col-lg-2 h--padding0 indicadores--L" ng-click="qty = 2">
                            <div class="indicadores--contenedor">
                              <div class="md-list-item-text indicadores--contenedorCategoria indicadores--MON">
                                <div class="indicadores--categoria">
                                  <h3>Moneda</h3>
                                  <h4>USD/CLP</h4>
                                  <p>660,3</p>
                                </div>
                                <div class="indicadores--porcentaje negativo">
                                  <p>-0,89%</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="ban-col-xs-6 ban-col-sm-6 ban-col-md-2 ban-col-lg-2 h--padding0 indicadores--L" ng-click="qty = 3">
                            <div class="indicadores--contenedor">
                              <div class="md-list-item-text indicadores--contenedorCategoria indicadores--ACI">
                                <div class="indicadores--categoria">
                                  <h3>Mercado</h3>
                                  <h4>IPSA</h4>
                                  <p>4.581,33</p>
                                </div>
                                <div class="indicadores--porcentaje negativo">
                                  <p>-0,89%</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="ban-col-xs-6 ban-col-sm-6 ban-col-md-2 ban-col-lg-2 h--padding0 indicadores--L" ng-click="qty = 4">
                            <div class="indicadores--contenedor">
                              <div class="md-list-item-text indicadores--contenedorCategoria indicadores--TAX">
                                <div class="indicadores--categoria">
                                  <h3>Acciones</h3>
                                  <h4>CAP</h4>
                                  <p>8.032,33</p>
                                </div>
                                <div class="indicadores--porcentaje neutro">
                                  <p>0,0%</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- inicio boton -->
                          <div class="ban-col-xs-12  ban-col-md-12 h--padding0" ng-click="">
                            <div class="boton--verMas " style="">
                              <md-button ng-href="#beneficiario">
                                <span>VER MÁS INDICADORES</span>
                                <i class="material-icons">keyboard_arrow_right</i>
                              </md-button>
                            </div>
                          </div>
                          <!-- inicio boton -->
                        </div>
                      </div>
                    </div>
                  </md-menu-content>
                </div>
              </div>
              <!-- fin desplegable indicador -->
            </div>
          </div>
          <div class="ban-col-xs-1 menu--PublicoMobil padding0" ng-controller="solicFondoM" ng-click="toggleLeft()" ng-hide="isOpenLeft()">
            <md-icon>
              <i class="material-icons">menu</i>
            </md-icon>
          </div>
          <div class="ban-col-xs-6 ban-col-sm-9 ban-col-md-2">
            <div class="banchile--logo">
              <a href="home-empresa.html" title="Banchile Inversiones">
               <img  src="assets/images/logo--Banchile_E.png" class="ban-img-responsive"/>
              </a>
            </div>
          </div>
          <div class="menu--publico" ng-controller="menuPublicoCrtl-e">
            <div class="ban-col-md-7 ">
              <ul class="menu--publico">
                <li class=" " ng-repeat="menu in menuEmpresa">
                  <md-button href="" ng-click="togglePanel($index)">
                    {{menu.name}}
                  </md-button>
                </li>
              </ul>
            </div>
            <md-menu-content class="menuFondo navMenu navPublico" ng-show="menu.activo" ng-repeat="menu in menuEmpresa">
              <div class="ban-row" data-ui-sref="{{menu.id}}" data-ui-sref-active="active" ng-mouseleave="menu.activo = false">
                <div class="ban-col-xs-12 ban-col-sm-5 ban-col-md-3  menu--padding">
                  <div class="{{menu.image}}">
                    <h3 class="navMenu--titulo">{{menu.name}}</h3>
                    <hr width="15%">
                    <p class="navMenu--texto">{{menu.desc}}</p>
                  </div>
                </div>
                <div class="ban-col-xs-12 ban-col-sm-7 ban-col-md-9 navMenu--contenido menu--padding">
                  <div class="ban-col-xs-12 ban-col-sm-6 ban-col-md-4" ng-repeat="subMenu in menu.menu">
                    <md-list class="navMenu--opcionesPublicas">
                      <div class="subheader">
                        <md-list-item ng-href="{{subMenu.url}}" ng-click="menu.activo = false" target="{{subMenu.target}}">{{subMenu.name}}</md-list-item>
                      </div>
                      <div class="list-item" ng-repeat="hijos in subMenu.subMenu">
                        <md-list-item ng-href="{{hijos.url}}">{{hijos.name}}</md-list-item>
                      </div>
                    </md-list>
                  </div>
                </div>
              </div>
            </md-menu-content>
          </div>
          <div class="ban-col-xs-5 ban-col-sm-2 ban-col-md-3">
            <div class="ban-row">
              <div class="menu--login h--floatRight">
                <!-- inicio icono buscar -->
                <div class="ban-col-sm-3 ban-col-md-2">
                  <div class="icono--buscar ocultarIcono iconosPosicion">
                    <div class="ng-cloak" ng-controller="solicFondoM">
                      <md-button ng-click="toggleRight4()" ng-hide="isOpenRight()" class="md-icon-button" aria-label="Buscar">
                        <md-icon>
                          <i class="material-icons icons--color oscuro">&#xE8B6;</i>
                        </md-icon>
                        <md-tooltip md-direction="Bottom">Buscar</md-tooltip>
                      </md-button>
                    </div>
                  </div>
                </div>
                <!-- fin icono buscar -->
                <div class="ban-col-xs-3 ban-col-sm-2 ban-col-md-2">
                  <!-- inicio indicadores -->
                  <div class="menu--indicadores iconosPosicion">
                    <!-- inicio iIndicadores -->
                    <md-button class="md-icon-button " href="" ng-click="indicadores = ! indicadores; currentOpen.menuId = false; notificaciones = false ">
                      <md-icon>
                        <i class="material-icons  oscuro">trending_up</i>
                      </md-icon>
                      <md-tooltip md-direction="Bottom">Indicadores</md-tooltip>
                    </md-button>
                    <!-- fin iIndicadores -->
                  </div>
                  <!-- fin indicadores -->
                </div>
                <!-- inicio icono login -->
                <div class="ban-col-xs-6 ban-col-sm-6 ban-col-md-8">
                  <div class="h--pullRight" ng-controller="solicFondoM">
                    <div class="menuLogin--despliegue" ng-click="toggleRight3()" ng-hide="isOpenRight()">
                      <div class="ban-row">
                        <div class="ban-col-xs-1 ban-col-md-4">
                          <md-icon class="padding0 icono-responsive">
                            <i class="material-icons perfilLogin">account_circle</i>
                          </md-icon>
                        </div>
                        <div class="ban-col-xs-10 ban-col-md-8 h--paddingLeft0">
                          <p>Alejandro Henríquez<span class="ban-col-xs-12 h--padding0">15.316.789.-k</span></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- fin icono login -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!--   menu logeado -->
    <nav class="nav--Privado" ng-include src="'navegacion-privada/navegacion-privada-empresas.html'" ng-controller="menuRouteCrtl-empresas"></nav>
    <!--   menu logeado -->
  </div>
</header>
<section>
  <md-sidenav class="md-sidenav-left" md-whiteframe="4" md-component-id="left">
    <div ng-include class="animated fadeIn" src="'header/personas-menuHeader.html'"></div>
  </md-sidenav>
</section>
<section class="menu-usuario_lateral">
  <md-sidenav class="md-sidenav-right" md-whiteframe="2" md-component-id="right3">
    <div ng-include class="animated fadeIn" src="'header/personas-userHeader.html'"></div>
  </md-sidenav>
</section>
<!-- inicio aside buscador -->
<section class="menu-usuario_buscador">
  <md-sidenav class="md-sidenav-right h--positionFix" md-whiteframe="4" md-component-id="right4">
    <div ng-include class="a_fadein" src="'detalle/detalle-buscador-aside.html'"></div>
  </md-sidenav>
</section>
<!-- fin aside buscador -->
