<!-- Nuevo menu angular  jorge 30-10-->
<div id="login--menu">
  <div class="menu--cerrar " ng-controller="asideCloseRight">
    <div class="asideCerrar">
      <md-button class="md-icon-button" aria-label="Settings"  ng-click="close()">
        <i class="material-icons">close</i>
      </md-button>

    </div>

  </div>

  <div class="menu--usuario">
    <div class="ban-col-xs-12">
      <img src="./assets/images/avatar.png" alt="">
    </div>
    <div class="usuario--contenedor">
      <div class="ban-row h--padding0">
        <div class="ban-col-xs-9">
          <p>Alejandro Henríquez</p>
          <p class="contenedor--rut ">15.316.789.-k</p>
        </div>
        <div class="ban-col-xs-3">
          <md-button class="md-icon-button " aria-label="Settings">
            <md-icon><i class="material-icons">settings</i></md-icon>
          </md-button>
        </div>
      </div>
    </div>
  </div>
  <md-content class="usuario--navegacion">
     <md-list>
        <md-list-item>
           <md-divider>
              <md-button ng-href="#mis-datos-resumen">Resumen de datos</md-button>
           </md-divider>
        </md-list-item>
        <md-list-item>
           <md-divider>
              <md-button ng-href="login-personas.html#/encuesta-inversionista">Encuesta de Inversionista</md-button>
           </md-divider>
        </md-list-item>
        <md-list-item>
           <md-divider>
              <md-button ng-href="#actualizacion-de-datos">Actualización de Datos</md-button>
           </md-divider>
        </md-list-item>
     </md-list>
  </md-content>
  <div class="usuario--footer">
    <p>Mi último acceso: 01/08/29016 14:00:00</p>
    <p>Mi ejecutiva: Amanda Rivas</p>
    <p>
      <md-button class="md-icon-button" aria-label="Settings">
        <md-icon><i class="material-icons">phone</i></md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="Settings">
        <md-icon><i class="material-icons">email</i></md-icon>
      </md-button>
    </p>
    <p>
      <md-button class="md-raised boton2" ng-click="close()"><span>CERRAR SESIÓN</span></md-button>
    </p>
  </div>

</div>
