<div class="ban-col-md-3">
  <ul>
    <li>
      <div class="verticalLine">f
        <div class="icono--buscar">
          <div class="ng-cloak" ng-controller="solicFondoM">
            <md-button ng-click="toggleRight4()" ng-hide="isOpenRight()" class="md-icon-button" aria-label="Buscar">
              <md-icon>
                <i class="material-icons icons--color oscuro">&#xE8B6;</i>
              </md-icon>
              <md-tooltip md-direction="Bottom">Buscar</md-tooltip>
            </md-button>

          </div>
        </div>
      </div>

      <!-- inicio indicadores -->
      <div class="menu--indicadores iconosPosicion">
        <!-- inicio iIndicadores -->
        <md-button class="md-icon-button iconoTop" href="" ng-click="indicadores = ! indicadores; currentOpen.menuId = false; notificaciones = false ">
          <md-icon>
            <i class="material-icons" style="color:white;font-size:24px;">trending_up</i>
          </md-icon>
          <md-tooltip md-direction="Bottom">Indicadores</md-tooltip>
        </md-button>
        <!-- fin iIndicadores -->
      </div>
      <!-- fin indicadores -->
    </li>
  </ul>
</div>
